        <div class="chat">
            <div class="chat-header">
                <div class="chat-header-user">
                    <figure class="avatar">
                        <!--<img src="/pphoto/" class="rounded-circle" alt="image">--> 
                    </figure>
                    <div>
                        <h5 id="chat-name"><!--Name --> </h5>
                        <small class="text-success"><!-- <i>writing...</i>--></small>
                    </div>
                </div>
                <div class="chat-header-action">
                    <ul class="list-inline" id="conversation-opts">
                      
                    </ul>
                </div>
            </div>
			
            <div class="chat-body"> 
             
			 <div id="nochatselected">
                <div class="no-message-container">
                    <div class="row mb-5" style="margin-top:144px;">
                        <div class="col-md-4 offset-4">
                            <img src="./sl/dist/media/svg/undraw_empty_xct9.svg" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <p class="lead" style="margin-top: 21px; text-align: center;">
						Welcome to OrgBoat!</b>
						
					</p>
                </div>
			</div>
         
                <div class="messages">
					
					<!--DOCUMENT TEMPLATE>
                    <div class="message-item">
                        <div class="message-content message-file">
                            <div class="file-icon">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                            <div>
                                <div>important_documents.pdf <i class="text-muted small">(50KB)</i></div>
                                <ul class="list-inline">
                                    <li class="list-inline-item mb-0"><a href="#">Download</a></li>
                                    <li class="list-inline-item mb-0"><a href="#">View</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="message-avatar">
                            <div>
                                <div class="time">11:59 PM</div>
                            </div>
                        </div>
                    </div>
					
                    <div class="message-item messages-divider sticky-top" data-label="Today"></div>	
				
                    <div class="message-item outgoing-message">
                        <div class="message-content">
                            😃 😃 ❤ ❤
   						 <div class="message-avatar">
       					  <div>
          					<div class="time"><i class="ti-double-check text-info"> </i> 09:23 AM </div>
        				</div>
                        </div>
                       
                        </div>
                    </div>
						
				IMAGE TEMPLATE
                  <div class="message-item">
                      <figure>
                          <img src="http://via.placeholder.com/1200X900" class="w-25 img-fluid rounded" alt="image">
                      </figure>
                      <div class="message-avatar">
                          <div>
                              <div class="time">10:43 AM</div>
                          </div>
                      </div>
                  </div>

                    <div class="message-item messages-divider" data-label="1 message unread"></div>
					!-->
					
                   
					
				
					
					
                </div>
            </div>
			
			
            <div class="chat-footer">
               
            </div>
        </div>