<nav class="navigation">
  <div class="nav-group">
    <ul>
      <li class="logo">
        <a href="#">
          <img
            src="media/imgs/blue_helm2.png"
            width="42"
            height=""
            alt="Blue Helm"
          />
        </a>
      </li>
      <li>
        <a
          class="active"
          data-navigation-target="chats"
          href="#"
          data-toggle="tooltip"
          title="Chats"
          data-placement="right"
          onclick="GetChats()"
        >
          <span class="badge badge-warning"></span>
          <i data-feather="message-circle"></i>
        </a>
      </li>
      <li>
        <a
          data-navigation-target="friends"
          href="#"
          data-toggle="tooltip"
          title="Contacts"
          data-placement="right"
          onclick="ChargeContacts()"
        >
          <span class="badge badge-danger"></span>
          <i data-feather="user"></i>
        </a>
      </li>
      <li>
        <a
          data-navigation-target="favorites"
          data-toggle="tooltip"
          title="Favorites"
          data-placement="right"
          href="#"
        >
          <i data-feather="star"></i>
        </a>
      </li>
      <li class="brackets">
        <a
          data-navigation-target="archived"
          href="#"
          data-toggle="tooltip"
          title="Archived"
          data-placement="right"
          onclick="ChatArchive(this)"
        >
          <i data-feather="archive"></i>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="dark-light-switcher"
          data-toggle="tooltip"
          title="Dark mode"
          data-placement="right"
        >
          <i data-feather="moon"></i>
        </a>
      </li>
      <li data-toggle="tooltip" title="User menu" data-placement="right">
        <a href="./login.html" data-toggle="dropdown">
          <figure class="avatar" id="Perfilpphoto" data="<%= user.pphoto %>">
            <script>
              var p = document
                .getElementById("Perfilpphoto")
                .getAttribute("data");
              if (p === "") {
                document.getElementById(
                  "Perfilpphoto"
                ).innerHTML = `<span class="avatar-title bg-info rounded-circle"><%= user.name.substring(0,1) %></span>`;
              } else {
                document.getElementById(
                  "Perfilpphoto"
                ).innerHTML = `<img src="/pphoto" class="rounded-circle" alt="image" />`;
              }
            </script>
          </figure>
        </a>
        <div class="dropdown-menu">
          <a
            href="#"
            class="dropdown-item"
            data-toggle="modal"
            data-target="#changeProfilePic"
            >Change Profile Picture</a
          >
          <a
            href="#"
            class="dropdown-item"
            data-toggle="modal"
            data-target="#editProfileModal"
            >Edit Profile</a
          >
          <a
            href="#"
            class="dropdown-item"
            onClick="ownprofile('<%= user.u_id %>')"
            data-navigation-target="contact-information"
            >View Profile</a
          >
          <a
            href="#"
            class="dropdown-item"
            data-toggle="modal"
            data-target="#settingModal"
            >Settings</a
          >
          <div class="dropdown-divider"></div>
          <a href="/logout" class="dropdown-item text-danger">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
