<!DOCTYPE html>
<!--  Last Published: Thu May 30 2019 06:17:23 GMT+0000 (UTC)  -->
<html data-wf-page="5cef746a92308c1d038a111d" data-wf-site="5ce3922e8578a80b73d90821">
<head>
<title>openChannel</title>
<% include ../../partials/wtm/wtm-header.ejs %>
</head>
<body class="natbody">
  <div class="main-section">
    <h1 class="heading-30">Cleaker</h1>
    <div class="columns w-row">
      <div class="column-13 w-col w-col-3">
   		   <% include ../../partials/wtm/public-channels.ejs %>
         </div>
        </div>
        	<div class="onlineusers">
 		   	<% include ../../partials/wtm/online-users.ejs %>
	  		</div>	
      </div>
      <div class="column-14 w-col w-col-9"> 
        <div class="div-block">
          <div class="text-block-26">
		<span class="text-span-4" data-ix="close-div">Close [X]</span></div>
          <h1 class="heading-28"><pre>
╦ ╦╦═╗╔═╗╔═╗╦╔═ ╔╦╗╦ ╦╔═╗ ╔╦╗╔═╗╔╦╗╦╔═╗
║║║╠╦╝║╣ ║  ╠╩╗  ║ ╠═╣║╣  ║║║║╣  ║║║╠═╣
 ╚╩╝╩╚═╚═╝╚═╝╩ ╩  ╩ ╩ ╩╚═╝ ╩ ╩╚═╝═╩╝╩╩ ╩ </pre></h1>
          <div class="form-block-2 w-form">
	   	  <!-- method="GET" action="/openChannel" -->
	       <form method="POST" action="/openChannel" id="wtm-channel-redirection" name="WTMchannels" data-name="Email Form" class="form-4">
	   		<label for="name" class="field-label-2">Channel Name:</label>
	   		<input type="text" name="channel" id="channelName" data-name="channelName" maxlength="21" class="text-field-4 w-input">
	   		<label for="channel Hash" class="field-label-3">Channel Hash:</label>
	   		<input type="password" name="channelHash" id="channel-Hash" class="text-field-5 w-input" maxlength="21" data-name="ch-hash">
	   		<button class="submit-button-3">Connect</button> <!--onclick="buildChannel(); return false"--> 
	   	 	</form>
          </div>
          <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav">
            <div class="container-7 w-container">
				<a href="#" class="w-nav-brand">
					<img src="imgs/brain.png" width="42"  sizes="42px" alt="" class="image-34">
				</a>
              <nav role="navigation" class="w-nav-menu">
				  <a href="#" class="nav-link-5 w-nav-link">Home</a>
				  <a href="#" class="nav-link-5 w-nav-link">WT-Media</a>
				  <a href="#" class="nav-link-5 w-nav-link">TheVault</a>
				  <a href="#" class="nav-link-5 w-nav-link">CheatSheet</a>
			  </nav>
              <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="wreckthemediaWF/js/wreckthemedia.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>