<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed May 22 2019 04:30:21 GMT+0000 (UTC)  -->
<html data-wf-page="5ce3922e8578a890c7d9082e" data-wf-site="5ce3922e8578a80b73d90821">
<head>
  <meta charset="utf-8">
  <title>chat</title>
  <meta content="Incredible is a template, that combines a minimal modern design with the right amount of features to help you create an outstanding web for your business in no time." name="description">
  <meta content="chat" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
	<% include ../partials/wtm-header.ejs %>
	<script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body class="natbody">
	
	
  <div class="main-section">
    <h1 class="heading-30">WRECKTHEMEDIA</h1>
    <div class="columns w-row">
      <div class="column-13 w-col w-col-3">
        <div class="channels-div">
			<a href="#" class="button w-button" data-ix="opendiv">Open Private Channel</a>
          <div>
            <h1 class="heading-29">Public Channels</h1>
            <div class="w-form">
              <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="categories" name="categories" data-name="categories" class="select-field w-select"><option value="">Categories...</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><input type="text" class="text-field-6 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Search" id="name-2"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
            <div class="public-channels">
              <ul class="list">
                <li class="list-item-2">
                  <div class="text-block-20">Politics <span class="minimi text-span-6">(12312 online)</span></div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">Austin</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">Medicines</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">Humor</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">News</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">Memes</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">cdmx</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">ny</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">global</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">food</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">music</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">art</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">philosophy</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">LA</div>
                </li>
                <li class="list-item-2">
                  <div class="text-block-20">LA</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="onlineusers">
          <div class="text-block-27"> 132 Online Users - <span data-ix="closeonlineusersdiv">Close [X]</span></div>
          <div class="w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><input type="text" class="text-field-6 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Search" id="name-2"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <div class="usrs-overflow">
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
            <div class="online-usr-div w-clearfix">
              <div data-delay="0" class="dropdown w-clearfix w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="text-block-28">...</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
              <div class="text-block-29">jOse @ 1:16</div>
            </div>
          </div>
        </div>
      </div>
	  
	  
	  
      <div class="column-14 w-clearfix w-col w-col-9">
        <h1 class="channel-name">Channel Name: ChannelName</h1>
        <div class="channel-options">
          <div class="text-block-25">
			  <span class="disconnect text-span-7"> Disconnect</span><span class="text-span-5" data-ix="showonlineusers"> - Show 132 Online Users</span> - <span data-w-id="312ff682-c7b7-fe85-5c22-697839e54554" class="text-span-2">Notify when a user joins </span>- Delete all your Messages - <span data-w-id="87d577ef-da3c-8c76-089f-d1760f218888" class="text-span-3">Notify when user disconnects</span></div>
        </div>
		
		
        <div class="conversation-container">
			
			
          <div class="msg-div w-clearfix">
            <div class="msg-menu">
              <div data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div>...</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
            </div>
            <div class="message sent"><span class="msg-meta text-span sent-mtd">jOse @ 1:16:</span> This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.</div>
          </div>
		  
		  
          <div class="msg-div w-clearfix">
            <div class="msg-menu">
              <div data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="text-block-23">...</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
            </div>
            <div class="message"><span class="msg-meta text-span">jOse @ 1:16:</span> This is some text inside of a div block.</div>
          </div>
		  
		  
          <div class="msg-div w-clearfix">
            <div class="msg-menu">
              <div data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div>...</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
            </div>
            <div class="message"><span class="msg-meta text-span">jOse @ 1:16:</span> This is some text inside of a div block.</div>
          </div>
		  
		  
          <div class="msg-div w-clearfix">
            <div class="msg-menu">
              <div data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div>...</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
            </div>
            <div class="message"><span class="msg-meta text-span">jOse @ 1:16:</span> This is some text inside of a div block.</div>
          </div>
		  
		  
          <div class="msg-div w-clearfix">
            <div class="msg-menu">
              <div data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div>...</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
            </div>
            <div class="message"><span class="msg-meta text-span">jOse @ 1:16:</span> This is some text inside of a div block.</div>
          </div>
		  
		  
          <div class="msg-div w-clearfix">
            <div class="msg-menu">
              <div data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="text-block-30">...</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#" class="w-dropdown-link">Link 1</a><a href="#" class="w-dropdown-link">Link 2</a><a href="#" class="w-dropdown-link">Link 3</a></nav>
              </div>
            </div>
            <div class="message sent">
			<span class="msg-meta text-span sent-mtd">jOse @ 1:16:</span> 
			This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.This is some text inside of a div block.
			</div>
          </div>
        </div>
		
		
        <!--<div class="usrstatus-div w-clearfix">
          <div class="text-block-24">jOse joined Channel @ 1:16</div>
          <div class="text-block-24 logout">jOse logOut Channel @ 1:16</div>
        </div>-->
		
		<!--INPUT COMMENT-->
        <div class="input-comment-div">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form">
			<textarea placeholder="Type a Message" maxlength="5000" id="field" name="field" class="textarea w-input"></textarea>
		</form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
		
		
        <div class="div-block">
          <div class="text-block-26">
			  <span class="text-span-4" data-ix="close-div">Close [X]</span>
		  </div>
		  
          <h1 class="heading-28">
			  <pre>
╦ ╦╦═╗╔═╗╔═╗╦╔═ ╔╦╗╦ ╦╔═╗ ╔╦╗╔═╗╔╦╗╦╔═╗
║║║╠╦╝║╣ ║  ╠╩╗  ║ ╠═╣║╣  ║║║║╣  ║║║╠═╣
╚╩╝╩╚═╚═╝╚═╝╩ ╩  ╩ ╩ ╩╚═╝ ╩ ╩╚═╝═╩╝╩╩ ╩
 			<pre></h1>
				
	
				
          <div class="form-block-2 w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form-4">
			<label for="name" class="field-label-2">Channel Name:</label>
			<input type="text" id="name" name="name" data-name="Name" maxlength="256" class="text-field-4 w-input">
			<label for="email" class="field-label-3">Channel Hash:</label>
			<input type="email" class="text-field-5 w-input" maxlength="256" name="email" data-name="Email" id="email">
			<input type="submit" value="Connect" data-wait="Please wait..." id="open_channel_button" class="submit-button-3 w-button">
			</form>
  			<script>
  				$("#open_channel_button").on('click', function(event){
  					event.preventDefault();
  					event.stopPropagation();
					
					$.ajax({
						url: "/www",
						type: "GET",
						contentType: "application.json",
						data: JSON.stringify({user:"hello"}),
			  	        success: console.log("success")
					})
					
  				});
  			</script>
		
            <div class="w-form-done">
              <div>Connecting!</div>
            </div>
            <div class="w-form-fail">
              <div>Error.</div>
            </div>
          </div>
          
		  <% include ../partials/nav.ejs %>
		  
		  
        </div>
      </div>
    </div>
  </div>
  
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>