  <div data-collapse="medium" data-animation="default" data-duration="400" data-ix="fade-in-right-scroll-in-2" role="banner" class="navigation-bar w-nav">
    <div class="w-container">
      <nav role="navigation" class="navigation-menu w-nav-menu">
		  <a href="<%= opt2 %>" class="navigation-link login w-nav-link"><%= opt1 %></a>
		  <a href="#" class="navigation-link w-nav-link">Help</a>
	  </nav>
      <div class="hamburger-button w-nav-button">
        <div class="w-icon-nav-menu">
        </div>
      </div>
	  <a href="/" class="w-inline-block">
		 <img src="https://daks2k3a4ib2z.cloudfront.net/598ce9c622e8860001aedbf2/598ce9c622e8860001aedcb9_preview-logo.png" width="119" alt="" class="logo-brand-orgboat">
	 </a>
 </div>
  </div>