<!DOCTYPE html>
    <html>
        <head>
        	<title>Push.js Web Notifications</title>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/push.js"></script>
			<script>
				
			
				 </script>
        </head>
        <body>
            <h1>Push.js Web Notifications</h1>
			
            <p>open-source <a href="https://github.com/Nickersoft/push.js" target="_blank">Push.js</a> library.</p>
            <button class="request-button">Request permissions</button>
            <button class="show-button">Show notification</button>
			<script>
	
				 
	var requestButton = document.querySelector(".request-button");
	var showButton = document.querySelector(".show-button");

				     function onGranted() {
				         requestButton.style.background = "green";
				     }

				     function onDenied() {
				         requestButton.style.background = "red";
				     }

				     requestButton.onclick = function() {
				         Push.Permission.request(onGranted, onDenied);
				     }
					 
					 
					 showButton.onclick = function() {
					         Push.create("Notifications", {
					             body: "on",
					             icon: "/icon.png",
					             timeout: 5000,
					             onClick: function() {
					                 console.log(this);
					             }
					         });
					     };
	
				 </script>
        </body>
    </html>