.navigation {
  background: white;
  border-right: 1px solid darken(white, 10%);
  border-left: 1px solid darken(white, 10%);
  border-top: 1px solid darken(white, 10%);
  border-bottom: 1px solid darken(white, 10%);

  order: 1;

  .nav-group {
    width: 100px;
  }

  ul {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    #logout-desktop {
      display: block;
    }
    #logout-responsive {
      display: none;
    }
    li {
      list-style: none;

      .own-avatar {
        cursor: pointer;
        height: 55px;
        width: 55px;
      }

      &:not(.logo) {
        margin: 5px 20px;

        a {
          border-radius: 7px;
        }
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        color: black + 130;
        position: relative;
        transition: all 0.3s;

        svg {
          width: 18px;
          height: 18px;
          display: flex;
          margin: 0 auto;
        }

        .badge {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          padding: 0;
          border-radius: 50%;
          position: absolute;
          top: 10px;
          right: 10px;
        }

        &.active {
          background-color: $style-color;
          color: $color-primary;
        }

        &:hover,
        &:focus {
          color: $color-primary;
        }

        i {
          font-size: $default-font-size + 5;
        }
      }

      &.logo a {
        margin-bottom: 1rem;
        height: 80px;

        svg {
          width: 30px;
          height: 30px;

          path {
            fill: $color-primary;
          }
        }
      }

      &.scissors {
        margin-top: auto;
      }

      &:last-child {
        padding: 15px 0;
      }
    }
  }
}