.tooltip {
  .arrow {
    display: none;
  }

  .tooltip-inner {
    background-color: rgba(black, 0.5);
  }
}

.call {
  text-align: center;

  .modal-content {
    .modal-body {
      padding: 50px 0;
    }
  }

  .action-button {
    margin-top: 3rem;

    .btn {
      width: 70px;
      height: 70px;
      margin: 0 15px;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.hidden {
  display: none;
}

.show {
  display: inline;
}

.word-break {
  word-break: break-word;
  padding-right: 45px;
  margin-left: -12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.word-break-more{
  -webkit-line-clamp: 10;
  cursor: pointer;
}

.border-none {
  border-color: transparent;
}

.outline-none .btn {
  outline: none;
}

.selected-input {
  box-shadow: 0 0 4px 1px #00000059;
  border-bottom: 2px solid #3cdbc3;
  transition: all 0.2s ease-in-out;
}

.fake-border {
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.overlay {
  background: #00000094;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  transition: all 0.2s ease-in-out;
}

.overlay p {
  color: white;
  width: 100px;
}

.profile-image-holder:hover .overlay {
  opacity: 1;
}
