      <ul>
        <li class="list-item"><a href="/cs-postgresql" class="command-menu-links">PostgreSQL</a></li>
        <li class="list-item"><a href="/cs-heroku" class="command-menu-links">Heroku</a></li>
		<li class="list-item"><a href="/cs-postgresandheroku" class="command-menu-links">PostgreSQL & Heroku</a></li>
        <li class="list-item"><a href="/cs-metasploit" class="command-menu-links">Metasploit</a></li>
        <li class="list-item"><a href="/cs-netcat" class="command-menu-links">Netcat</a></li>
      </ul>