<body class="body">
  <div class="intro w-clearfix">
    <div class="text-block introname">
		   /$$$$$$  /$$       /$$$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$ <br> /$$__  $$| $$      | $$_____/ /$$__  $$| $$  /$$/| $$_____/| $$__  $$<br>| $$  \__/| $$      | $$      | $$  \ $$| $$ /$$/ | $$      | $$  \ $$<br>| $$      | $$      | $$$$$   | $$$$$$$$| $$$$$/  | $$$$$   | $$$$$$$/<br>| $$      | $$      | $$__/   | $$__  $$| $$  $$  | $$__/   | $$__  $$<br>| $$    $$| $$      | $$      | $$  | $$| $$\  $$ | $$      | $$  \ $$<br>|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$  | $$| $$ \  $$| $$$$$$$$| $$  | $$<br> \______/ |________/|________/|__/  |__/|__/  \__/|________/|__/  |__/
	 </div>
    <div class="abcd">
      <div class="text-block-2 highest">
		  <span class="text-block-2 lowest">Lowest &lt; <br></span>
		  <span class="lowest text-span-7">Lower &lt; </span>
		  <span class="lower text-span-6"> </span><br>‍
		  <span class="text-span-5">low &gt; </span><br>‍
		  <span class="text-span-4">normal &gt; </span><br> 
		  <span class="text-span-3">high &gt; <br>‍</span> 
		  <span class="text-span">higher &gt; </span><br>‍
		  <span class="text-span-2"> highest &gt; </span></div>
    </div>