 <body class="body welcome">
  <div class="text-block introname welcome"> 
	  <p>
	  /$$$$$$  /$$       /$$$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$ <br> /$$__  $$| $$      | $$_____/ /$$__  $$| $$  /$$/| $$_____/| $$__  $$<br>| $$  \__/| $$      | $$      | $$  \ $$| $$ /$$/ | $$      | $$  \ $$<br>| $$      | $$      | $$$$$   | $$$$$$$$| $$$$$/  | $$$$$   | $$$$$$$/<br>| $$      | $$      | $$__/   | $$__  $$| $$  $$  | $$__/   | $$__  $$<br>| $$    $$| $$      | $$      | $$  | $$| $$\  $$ | $$      | $$  \ $$<br>|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$  | $$| $$ \  $$| $$$$$$$$| $$  | $$<br> \______/ |________/|________/|__/  |__/|__/  \__/|________/|__/  |__/
  </p>
  </div>
  
  