<!DOCTYPE html>
<!--  Last Published: Sun Dec 01 2019 17:37:37 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5de152eb83c9d75783dc9b9f" data-wf-site="5ce9d28d5d0f4701ba9bbbe0">
<head>
 <% include ../../partials/main/header.webflow.ejs %>
</head>
<body data-w-id="55a4bf10f836a7146d18c92f" class="body welcome">
	
	
  <div data-collapse="medium" data-animation="default" data-duration="400" class="cleaker-navbar w-nav">
    <div class="container-2 w-container">
      <a href="/" class="brand w-nav-brand">
        <div class="text-block-8">cleaker.me</div>
      </a>
    </div>
  </div>
  
  
  <div class="div-block-5">
    <div class="container w-container" data-ix="openclntinput">
      <div>
   <% include ../../partials/main/monadlisa.ejs %>
        <h1 class="heading-3">m0nad_Lisa</h1>
        <h1 class="mnd-stmnt">Not activate...</h1>
      </div>
	   <!--question
      <div class="mnd_pck-block">
        <div class="option w-clearfix">
			<a href="#" class="text-span-12 w-button" data-ix="openclntinput">Yes</a>
			<a href="#" class="text-span-12 w-button" data-ix="openclntinput">No</a>
          <div class="clnt-input-div">
			   -ANSWER QUESTION open-form-div-->
			  
			  <!--ANSWER QUESTION open-form-div-->
            <div class="w-form">
              <form id="wf-form-guest-Login-notification" name="wf-form-guest-Login-notification" data-name="guest-Login-notification" class="form w-clearfix">
				  <input type="text" class="text-field w-input" maxlength="256" name="guest_code_input-2" data-name="Guest Code Input 2" placeholder="type or paste access code" id="guest_code_input-2">
                <div class="text-block-9" data-ix="new-interaction">x Close</div>
				<input type="submit" value="Acess" data-wait="Please wait..." class="text-span-12 w-button">
			</form>
			
              <div class="success-message w-form-done">
                <div class="text-block-10">Question Answered.</div>
              </div>
              <div class="error-message w-form-fail">
                <div class="text-block-11">Oops! Something went wrong.</div>
              </div>
            </div><!---close-form-div-->
			
			
          </div>
        </div>
      </div>
    </div><a href="http://netget.me" class="link-3">netGet</a></div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="main/js/webflow.js" type="text/javascript"></script>
  <script src="https://cleaker.herokuapp.com/js/sub_c/cleaker.js"></script>
 
</body>
</html>