<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sun Feb 23 2020 23:51:43 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e2fabb0ac279fb26491cbac" data-wf-site="5ce9d28d5d0f4701ba9bbbe0">
<head>
 <% include ../../partials/main/header.webflow.ejs %>
 
<script>
    function miniCleaker() {
		var theDate = new Date();
      document.getElementById("theDate").innerHTML = theDate;
    }
  </script>
</head>
<body data-w-id="55a4bf10f836a7146d18c92f" class="body welcome" onload="miniCleaker()">
   
  <div data-collapse="medium" data-animation="default" data-duration="400" class="cleaker-navbar w-nav">
    <div class="container-2 w-container">
      <a href="#" class="brand w-nav-brand">
        <h1 class="heading-5 aaa">cleaker.me</h1>
        <div class="text-block introname welcome cleakercashlogo shadow"> /$$$$$$  /$$       /$$$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$ <br> /$$__  $$| $$      | $$_____/ /$$__  $$| $$  /$$/| $$_____/| $$__  $$<br>| $$  \__/| $$      | $$      | $$  \ $$| $$ /$$/ | $$      | $$  \ $$<br>| $$      | $$      | $$$$$   | $$$$$$$$| $$$$$/  | $$$$$   | $$$$$$$/<br>| $$      | $$      | $$__/   | $$__  $$| $$  $$  | $$__/   | $$__  $$<br>| $$    $$| $$      | $$      | $$  | $$| $$\  $$ | $$      | $$  \ $$<br>|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$  | $$| $$ \  $$| $$$$$$$$| $$  | $$<br> \______/ |________/|________/|__/  |__/|__/  \__/|________/|__/  |__/</div>
      </a>
    </div>
    <div class="cl-data">
		
      <div class="text-block-15">
		  onDate: <span id="theDate"></span><br>
		  usrname: no_session,<br> 
		  usrCountry: data.country,<br> 
		  usrCity: data.city,<br>
		  theVault: 075443,<br>
	  </div>
    </div>
  </div>

		
  
  
  <div class="div-block-5">
    <div class="container w-container" data-ix="openclntinput">
      <div>
   <% include ../../partials/main/monadlisa.ejs %>
         <h1 class="heading-3">m0nadLisa</h1> 
         <div class="div-block-9 w-clearfix">
			 
           <h1 class="mnd-stmnt">Hello,</h1>
           <h1 class="mnd-stmnt" id="mndTlks">Please choose:</h1>
		   
           <div class="mnd_pck-block">
             <div class="option w-clearfix">
			<a href="#" class="text-span-12 w-button" onclick="onSubscribe()">Sign Up</a>
			<a href="#" class="text-span-12 w-button" onclick="onLogin()">Log In</a>
			
			<!-- LOG IN DIV -->
      	  	<div class="clnt-input-div" id="loginDiv">   
      		<div class="w-form">
		   	<!-- ><a style="color:white;">Can I see your face?</a><!-->
		  	<form class="form w-clearfix" action="/login" method="post">
			<input type="text" class="text-field w-input" maxlength="56" placeholder="usrname" id="firstName">
	 		<input type="password" class="text-field w-input" maxlength="56" placeholder="password" id="lastName">
			<input type="submit" value="Login" class="text-span-12">
			</form>
	  		</div><!-- w-form close div-->
	  	  	<div class="text-block-9" onclick="xLogin()">x Close</div>
            <div class="success-message w-form-done">
            <div class="text-block-10">Question Answered.</div>
            </div><!--success-message w-form-done-->
            <div class="error-message w-form-fail">
            <div class="text-block-11">Oops! Something went wrong.</div>
            </div><!--div error-message w-form-fail-->
			</div><!-- clnt-input-div  -->
			
			
			
			      <div class="clnt-signUp-div" id="subscribeDiv">   
			      <div class="w-form">
			<!-- ><a style="color:white;">Can I see your face?</a><!-->
			<form class="form w-clearfix" action="/subscribing" name="subForm" method="post" onsubmit="return validateForm()">
			<a style="color:#ff6666;" id="labelName"></a>
		   	<input type="text" class="text-field w-input" maxlength="56" placeholder="First and last name" name="subName" id="inputName">
			<a style="color:#ff6666;" id="labelUsername"></a>
			<input type="text" class="text-field w-input" maxlength="56" placeholder="Username" name="subUsername" id="inputUsername">
			<a style="color:#ff6666;" id="labelEmail"></a>
		   	<input type="text" class="text-field w-input" maxlength="56" placeholder="Email" name="subEmail" id="inputEmail" onchange="gemEx(this.value)">
		  	<input type="password" class="text-field w-input" maxlength="56" placeholder="Password" name="subPwd">
			<input type="password" class="text-field w-input" maxlength="56" placeholder="RetypePassword" name="subRtPwd">
			   		<input type="submit" value="Sign Up" class="text-span-12">
			   	  </div>
			   	  </form>
			   	  <div class="text-block-9" data-ix="" onclick="xSubscribe()">x Close</div>
			                   <div class="success-message w-form-done">
			                   <div class="text-block-10">Question Answered.</div>
			                      </div>
			                   <div class="error-message w-form-fail">
			                   <div class="text-block-11">Oops! Something went wrong.</div>
			                      </div>
			   				 </div>
							 
							 <script>
								 
								
								 
								 //Validate subscribe Form ClientSide
								 function validateEmail(email) {
	  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
								   return re.test(email);
								 }
								 
								 function validateName(subname){
									 var re = /^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u;
									 return re.test(subname);
								 	
								 }
								 
								 function validateUsername(username){
								 	var re = /^(?=[a-zA-Z0-9._]{8,20}$)(?!.*[_.]{2})[^_.].*[^_.]$/;
									return re.test(username);
								 }
								 
								
								 function validateForm() {
									  $labelName = $("#labelName");
									 var subName = document.forms["subForm"]["subName"].value;
									 var inputName =  document.getElementById("inputName");
									  $labelUsername = $("#labelUsername");
									 var subUsername = document.forms["subForm"]["subUsername"].value;
									 var inputUsername =  document.getElementById("inputUsername");
									  $labelEmail = $("#labelEmail");
									 var subEmail = document.forms["subForm"]["subEmail"].value;
									 var inputEmail =  document.getElementById("inputEmail");
									 var subPwd = document.forms["subForm"]["subPwd"].value;
									 var subRtPwd = document.forms["subForm"]["subRtPwd"].value;
									 
									 
									 if (subName == "") { //Check if name is null
										 alert("Name must be filled out!");
										 return false;
									 }
 									if (validateName(subName)) { // Validate Name
										$labelName.text("");
										inputName.style.borderColor = "#39D1BB";
									} else {
										$labelName.text('Names must be Aa-Zz and "-" characters');
										inputName.style.borderColor = "#ff6666";
										inputName.focus();
										return false;
									}
 									if (validateUsername(subUsername)) { //Validate Username
										$labelUsername.text("");
										inputUsername.style.borderColor = "#39D1BB";
									} else {
										$labelUsername.text('Invalid username.');
										inputUsername.style.borderColor = "#ff6666";
										inputUsername.focus();
										return false;
									}    
									
									 if (subUsername == ""){ //check if username is null
 										$labelUserName.text("Choose a username");
 										inputName.style.borderColor = "#ff6666";
 										inputName.focus();
										 return false;
									 }
									 
									 if (subEmail == ""){
										 alert("Email must be filled out!");
										 return false;
									 }
 									if (validateEmail(subEmail)) {
										$labelEmail.text("");
										inputEmail.style.borderColor = "#39D1BB";
									} else {
										$labelEmail.text("Invalid Email.");
										inputEmail.style.borderColor = "#ff6666";
										inputEmail.focus();
										return false;
  								   }
								   if (subPwd == ""){
									   alert("Please type a Password!");
									   return false;
								   }
								   if (subRtPwd == ""){
									   alert("Please confirm Password!");
									   return false;
								   }
								   if (subRtPwd != subPwd){
									   alert("Password does not match!");
									   return false;
								   }else {
									   return true;		
									 }  
								 }
								 
								 var i = 0;
								 var speed = 50; /* The speed/duration of the effect in milliseconds */
								 var txt = "Fill out your information."
								 function typeWriter() {
								   if (i < txt.length) {
								     document.getElementById("mndTlks").innerHTML += txt.charAt(i);
								     i++;
								     setTimeout(typeWriter, speed);
								   }
								 }
								 
								 
								 function onSubscribe(){
									 var subscribeDiv = document.getElementById("subscribeDiv");
									 subscribeDiv.style.display = "block";	
									 subscribeDiv.scrollIntoView({block: 'end', behavior: 'smooth'});
									 document.getElementById("loginDiv").style.display = "none";
									 document.getElementById("mndTlks").innerHTML = " ";
									 typeWriter();
									 
									  
								 }
								 
								 function xSubscribe(){
									 document.getElementById("subscribeDiv").style.display = "none";						
								 }
									 
								 function onLogin(){
									 document.getElementById("subscribeDiv").style.display = "none";	
									 document.getElementById("loginDiv").style.display = "block";
									 document.getElementById("loginDiv").scrollIntoView();
								 }
									 
								 function xLogin(){
									 document.getElementById("loginDiv").style.display = "none";						
								 }
								 
							</script>
							 
							 
            </div><!-- option w-clearfix -->
			</div><!--mnd_pck-block-->
			</div><!-- div-block-9 w-clearfix -->
			 
	<!-- SIGNUP DIV--> 
	  
	                  
			 
			 
      
	 
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="cleaker.webflow/js/webflow.js" type="text/javascript"></script>
  <script src="/js/sub_c/cleaker.js"></script>
  <script src="/js/sub_c/cleakerVC.js"></script>
	  
      <!--https://cleaker.herokuapp.comscript>
     	 $(document).ready(function() {
     	   run()
     	 })
    
     	 async function run() {
     	   // load the models
     	   await faceapi.loadMtcnnModel('/')
     	   await faceapi.loadFaceRecognitionModel('/')
  
     	   // try to access users webcam and stream the images
     	   // to the video element
     	   const videoEl = document.getElementById('inputVideo')
     	   navigator.getUserMedia(
     	     { video: {} },
     	     stream => videoEl.srcObject = stream,
     	     err => console.error(err)
     	   )
     	 }
     	 </script -->
	  
</body>
</html>