<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sun Dec 01 2019 17:37:37 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5de152eb83c9d72adadc9ba7" data-wf-site="5ce9d28d5d0f4701ba9bbbe0">
<head>
    <% include ../../partials/cleaker.webflow/header.webflow.ejs %>
</head>
<body data-w-id="55a4bf10f836a7146d18c92f" class="body">
  <div class="intro w-clearfix">
    <div class="text-block introname"><a href="/shadow" class="link-4">go_back</a>/network_Activity</div>
    <div class="abcd"></div>
    <div class="div-block-4">
      <div class="table">
        <div class="scrollable-content-header">
          <div class="scrollable-content-header-text">Active Connection Logs:</div>
        </div>
        <div class="scrollable-content">
          <div class="active-metadata">
            <div class="pck w-clearfix">
              <div class="text-block-3">uuid 00000000000001</div>
              <div class="pck-head w-clearfix"><span class="high">Iphone </span><span> </span><span class="tag text-span-10">ON:</span><span class="time">DATE&amp;&amp;TIME <br>‍</span><span class="tag text-span-11">Push Notifications:</span><span class="high"> false,<br></span><span class="duration text-span-8">DURATION:00:00:00</span></div>
              <div class="pck-viewall" data-ix="vwmtd">[ view]</div>
              <div class="vwmtd">
                <div class="scrollable-cleaker-text openconnection">onCleaker: false,<br>Client: no_usrname,<br>connection_url:<a href="https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/" class="link">https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/</a>, <br>usrCountry: USA,<br>usrCity: Austin,<br>dlyVisits: x,<br>ystdy: x,<br>wklyVisits: x,<br>lstwk: x,<br>mnthlyVisits: x,<br>lstmnth: x,<br>pushNotifications: false,<br>Cookies: true,<br>Monetization: false,</div>
              </div>
            </div>
            <div class="pck w-clearfix">
              <div class="text-block-3">uuid 00000000000001</div>
              <div class="pck-head w-clearfix"><span class="high">Iphone </span><span> </span><span class="tag text-span-10">ON:</span><span class="time">DATE&amp;&amp;TIME <br>‍</span><span class="tag text-span-11">Push Notifications:</span><span class="high"> false,<br></span><span class="duration text-span-8">DURATION:00:00:00</span></div>
              <div class="pck-viewall" data-ix="vwmtd">[ view]</div>
              <div class="vwmtd">
                <div class="scrollable-cleaker-text openconnection">Client: usrname,<br>Connection Time: 2:12:45pm 06-16-2019,<br>url:<a href="https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/" class="link">https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/</a>, <br>urlAuthor: David Delgadillo,<br>usrCountry: USA,<br>usrCity: Austin,<br>Closed: monday 12:12:45pm 06-16-2019,<br>dlyVisits: 8,<br>ystdy: 7<br>wklyVisits: 34,<br>lstwk: 38,<br>mnthlyVisits: 144,<br>lstmnth: 132,<br>pushNotifications: No,<br>Cookies: yes,<br>Monetization:</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="scrollable-content-header">
          <div class="scrollable-content-header-text offline">Offline Connection Record:</div>
        </div>
        <div class="scrollable-content">
          <div class="active-metadata">
            <div class="pck w-clearfix">
              <div class="pck-head time w-clearfix"><span class="tag text-span-9 tag">NTGT:ID:</span><span class="high">USRDVC(USER DEVICE)</span><span> </span><span class="tag text-span-10">OpenOn:</span><span class="time">DATE&amp;&amp;TIME </span><span class="tag text-span-11">closedAt:</span>DATE&amp;&amp;TIME<span class="tag text-span-11"> last 24hrs:</span><span class="high"> 21<br></span><span class="duration text-span-8">DURATION:00:00:00</span></div>
              <div class="pck-viewall" data-ix="vwmtd">[ view]</div>
              <div class="vwmtd">
                <div class="scrollable-cleaker-text openconnection">Client: usrname,<br>Connection Time: 2:12:45pm 06-16-2019,<br>url:<a href="https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/" class="link">https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/</a>, <br>urlAuthor: David Delgadillo,<br>usrCountry: USA,<br>usrCity: Austin,<br>Closed: monday 12:12:45pm 06-16-2019,<br>dlyVisits: 8,<br>ystdy: 7<br>wklyVisits: 34,<br>lstwk: 38,<br>mnthlyVisits: 144,<br>lstmnth: 132,<br>pushNotifications: No,<br>Cookies: yes,<br>Monetization:</div>
              </div>
              <div class="text-block-3 connection-record">000000000000000000001</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="cleaker.webflow/js/webflow.js" type="text/javascript"></script>
  <script src="/cleakerRM.js"></script>
  
</body>
</html>