<!DOCTYPE html>
<!--  Last Published: Sun Dec 01 2019 17:37:37 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5de152eb83c9d73553dc9ba6" data-wf-site="5ce9d28d5d0f4701ba9bbbe0">
<head>
    <% include ../../partials/cleaker.webflow/header.webflow.ejs %>
</head>
<body data-w-id="55a4bf10f836a7146d18c92f" class="body welcome">
  <h1 class="heading-5">cleaker.me</h1>
  <div class="text-block introname welcome cleakercashlogo shadow"> /$$$$$$  /$$       /$$$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$ <br> /$$__  $$| $$      | $$_____/ /$$__  $$| $$  /$$/| $$_____/| $$__  $$<br>| $$  \__/| $$      | $$      | $$  \ $$| $$ /$$/ | $$      | $$  \ $$<br>| $$      | $$      | $$$$$   | $$$$$$$$| $$$$$/  | $$$$$   | $$$$$$$/<br>| $$      | $$      | $$__/   | $$__  $$| $$  $$  | $$__/   | $$__  $$<br>| $$    $$| $$      | $$      | $$  | $$| $$\  $$ | $$      | $$  \ $$<br>|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$  | $$| $$ \  $$| $$$$$$$$| $$  | $$<br> \______/ |________/|________/|__/  |__/|__/  \__/|________/|__/  |__/</div>
  <div class="container-3 w-container">
    <div class="text-block-12">channel: Network Activity</div>
    <div class="form-block-3 w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form-2 w-clearfix"><input type="email" class="text-field-2 w-input" maxlength="256" name="command" data-name="command" placeholder="command" id="command" required=""><input type="submit" value="run" data-wait="Please wait..." class="submit-button-3 w-button"></form>
      <div class="success-message-2 w-form-done">
        <div class="text-block-13">Thank you!</div>
      </div>
      <div class="error-message-2 w-form-fail">
        <div class="text-block-14">Oops! Something went wrong.</div>
      </div>
    </div>
  </div>
  <div class="text-block-2 highest"><span class="text-block-2 lowest">Lowest &lt; <br></span><span class="lowest text-span-7">Lower &lt; </span><span class="lower text-span-6"> </span><br>‍<span class="text-span-5">low &gt; </span><br>‍<span class="text-span-4">normal &gt; </span><br> <span class="text-span-3">high &gt; <br>‍</span> <span class="text-span">higher &gt; </span><br>‍<span class="text-span-2"> highest &gt; </span></div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  
  
</body>
</html>