<!DOCTYPE html>
<!--
  /$$$$$$  /$$       /$$$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$ 
 /$$__  $$| $$      | $$_____/ /$$__  $$| $$  /$$/| $$_____/| $$__  $$
| $$  \__/| $$      | $$      | $$  \ $$| $$ /$$/ | $$      | $$  \ $$
| $$      | $$      | $$$$$   | $$$$$$$$| $$$$$/  | $$$$$   | $$$$$$$/
| $$      | $$      | $$__/   | $$__  $$| $$  $$  | $$__/   | $$__  $$
| $$    $$| $$      | $$      | $$  | $$| $$\  $$ | $$      | $$  \ $$
|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$  | $$| $$ \  $$| $$$$$$$$| $$  | $$
 \______/ |________/|________/|__/  |__/|__/  \__/|________/|__/  |__/
*** CODED BY ME****/-->
<% include ../../partials/analytics/headHeader.ejs %>
<% include ../../partials/analytics/index_cleaker.ejs %>
  <a href="/runme" class="link-block w-inline-block">
    <div class="text-block-6">RUNME</div>
  </a>
  <div class="text-block-2 highest">
	  <span class="text-block-2 lowest">Lowest &lt; <br></span>
	  <span class="lowest text-span-7">Lower &lt; </span>
	  <span class="lower text-span-6"> </span><br>‍
	  <span class="text-span-5">low &gt; </span><br>‍
	  <span class="text-span-4">normal &gt; </span><br> 
	  <span class="text-span-3">high &gt; <br>‍</span> 
	  <span class="text-span">higher &gt; </span><br>‍
	  <span class="text-span-2"> highest &gt; </span>
  </div>
<% include ../../partials/analytics/footFooter.ejs%>
</html>