<!DOCTYPE html>
<% include ../../partials/analytics/headHeader.ejs %>
<% include ../../partials/analytics/bodyRunme.ejs %>
    <div class="div-block-4">	
  	  <!--
		  ACTIVE USERS
  	   __    _  _______  _     _   _______  _______  _______  ___      _______ 
  	  |  |  | ||       || | _ | | |       ||   _   ||  _    ||   |    |       |
  	  |   |_| ||    ___|| || || | |_     _||  |_|  || |_|   ||   |    |    ___|
  	  |       ||   |___ |       |   |   |  |       ||       ||   |    |   |___ 
  	  |  _    ||    ___||       |   |   |  |       ||  _   | |   |___ |    ___|
  	  | | |   ||   |___ |   _   |   |   |  |   _   || |_|   ||       ||   |___ 
  	  |_|  |__||_______||__| |__|   |___|  |__| |__||_______||_______||_______|
  	   -->
		  <!--OPEN TABLE  ACTIVE -->
		  Look at the browser's console log
      <div class="table">
        <div class="scrollable-content-header">
          <div class="scrollable-content-header-text">Look at the browser's console logs for now ---- Active Users [x] - New Users [x] - Recurring - [x]</div>
        </div>
        <div class="scrollable-content">
          <div class="active-metadata">		
  			  <!-- CLASSES FOR USER ENGAGEMENT CLASSIFICATION COLOR
  			<span class="normal lowest">USRDVC(USER DEVICE)</span>
  			  <span class="normal lower">USRDVC(USER DEVICE)</span>
  				  <span class="normal">USRDVC(USER DEVICE)</span>
  				  <span class="normal high">USRDVC(USER DEVICE)</span>
  				  <span class="normal higher">USRDVC(USER DEVICE)</span>
  				  -->	
			<!-- TABLE ACTIVE USERS ROW RESULT -->
            <div class="pck w-clearfix">
              <div class="pck-head w-clearfix">
				  <span class="tag text-span-9 tag">NTGT:ID:</span>
				  <span class="high">USRDVC(USER DEVICE)</span>
				  <span> </span><span class="tag text-span-10">ON:</span>
				  <span class="time">DATE&amp;&amp;TIME </span>
				  <span class="tag text-span-11">Push Notifications:</span>
				  <span class="high"> yes<br></span>
				  <span class="duration text-span-8">DURATION:00:00:00</span>
			  </div>
              <div class="pck-viewall" data-ix="vwmtd">[ view]</div>
              <div class="vwmtd">
				  <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" width="69" alt="" class="image-4">
                <div class="scrollable-cleaker-text openconnection">Client: usrname,<br>Connection Time: 2:12:45pm 06-16-2019,<br>url:<a href="https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/" class="link">https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/</a>,
					 <br>urlAuthor: David Delgadillo,
					 <br>usrCountry: x,
					 <br>usrCity: Austin,
					 <br>connectionClosed: monday 12:12:45pm 06-16-2019,
					 <br>dlyVisits: x,
					 <br>ystdyVisits: x
					 <br>wklyVisits: 34,
					 <br>quarterVisits: 38,
					 <br>thismnthlVisits: 144,
					 <br>lstmnth: 132,
					 <br>pushNotifications: No,
					 <br>Cookies: yes,
					 <br>Monetization:</div>
              </div>
              <div class="text-block-3">000000000000000000001</div>
            </div>
          </div>
        </div>
      </div> <!--CLOSES TABLE  ACTIVE USERS-->  
	  <!-- xONNECTION RECORDS--ยก>
	   __    _  _______  _     _   _______  _______  _______  ___      _______ 
	  |  |  | ||       || | _ | | |       ||   _   ||  _    ||   |    |       |
	  |   |_| ||    ___|| || || | |_     _||  |_|  || |_|   ||   |    |    ___|
	  |       ||   |___ |       |   |   |  |       ||       ||   |    |   |___ 
	  |  _    ||    ___||       |   |   |  |       ||  _   | |   |___ |    ___|
	  | | |   ||   |___ |   _   |   |   |  |   _   || |_|   ||       ||   |___ 
	  |_|  |__||_______||__| |__|   |___|  |__| |__||_______||_______||_______|
	  
	   -->
      <div class="table">
        <div class="scrollable-content-header">
          <div class="scrollable-content-header-text offline">Connection Record:</div>
        </div>
        <div class="scrollable-content">
          <div class="active-metadata">
  			  <!-- CLASSES FOR USER ENGAGEMENT CLASSIFICATION COLOR
  			<span class="normal lowest">USRDVC(USER DEVICE)</span>
  			  <span class="normal lower">USRDVC(USER DEVICE)</span>
  				  <span class="normal">USRDVC(USER DEVICE)</span>
  				  <span class="normal high">USRDVC(USER DEVICE)</span>
  				  <span class="normal higher">USRDVC(USER DEVICE)</span>
  				  -->
            <div class="pck w-clearfix">
              <div class="pck-head time w-clearfix">
				  <span class="tag text-span-9 tag">NTGT:ID:</span>
				  <span class="high">USRDVC(USER DEVICE)</span><span> </span><span class="tag text-span-10">OpenOn:</span><span class="time">DATE&amp;&amp;TIME </span>
				  <span class="tag text-span-11">closedAt:</span>DATE&amp;&amp;TIME
				  <span class="tag text-span-11"> last 24hrs:</span>
				  <span class="high"> 21<br></span>
				  <span class="duration text-span-8">DURATION:00:00:00</span>
			  </div>
              <div class="pck-viewall" data-ix="vwmtd">[ view]</div>
              <div class="vwmtd">
				  <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" width="69" alt="" class="image-4">
                <div class="scrollable-cleaker-text openconnection">
					Client: usrname,
					<br>Connection Time: 2:12:45pm 06-16-2019,
					<br>url:<a href="https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/" class="link">https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/</a>, 
					<br>urlAuthor: David Delgadillo,
					<br>usrCountry: USA,
					<br>usrCity: Austin,
					<br>Closed: monday 12:12:45pm 06-16-2019,
					<br>dlyVisits: 8,
					<br>ystdy: 7,
					<br>wklyVisits: 34,
					<br>lstwk: 38,
					<br>mnthlyVisits: 144,
					<br>lstmnth: 132,
					<br>pushNotifications: No,
					<br>Cookies: yes,
					<br>Monetization:
				</div>
              </div>
              <div class="text-block-3 connection-record">000000000000000000001</div>
            </div>
          </div>
        </div>
      </div>
	  
	    
	  <!-- PUSH NOTIFICATION SUBSCRIBERSSS--ยก>
	   __    _  _______  _     _   _______  _______  _______  ___      _______ 
	  |  |  | ||       || | _ | | |       ||   _   ||  _    ||   |    |       |
	  |   |_| ||    ___|| || || | |_     _||  |_|  || |_|   ||   |    |    ___|
	  |       ||   |___ |       |   |   |  |       ||       ||   |    |   |___ 
	  |  _    ||    ___||       |   |   |  |       ||  _   | |   |___ |    ___|
	  | | |   ||   |___ |   _   |   |   |  |   _   || |_|   ||       ||   |___ 
	  |_|  |__||_______||__| |__|   |___|  |__| |__||_______||_______||_______|
	  
	   -->
      <div class="table">
        <div class="scrollable-content-header">
          <div class="scrollable-content-header-text">Active Push Notification Users: [x]</div>
        </div>
        <div class="scrollable-content">
          <div class="active-metadata">
			  <!-- CLASSES FOR USER ENGAGEMENT CLASSIFICATION COLOR
			<span class="normal lowest">USRDVC(USER DEVICE)</span>
			  <span class="normal lower">USRDVC(USER DEVICE)</span>
				  <span class="normal">USRDVC(USER DEVICE)</span>
				  <span class="normal high">USRDVC(USER DEVICE)</span>
				  <span class="normal higher">USRDVC(USER DEVICE)</span>
				  -->
			<!-- FIRST TABLE WITH ACTIVE PUSH NOTIFICATION USERS -->
            <div class="pck w-clearfix">
              <div class="pck-head normal w-clearfix">
				  <span class="tag text-span-9 tag">NTGT:ID</span>:
				  <span class="normal">USRDVC(USER DEVICE)</span>
				  <span class="tag text-span-9 tag"> lastConnected:Today<br>
				  </span><span class="duration text-span-8">DURATION:00:00:00</span>
			  </div>
              <div class="pck-viewall" data-ix="vwmtd">[ view]</div>
              <div class="vwmtd"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" width="69" alt="" class="image-4">
                <div class="scrollable-cleaker-text openconnection">
					Client: usrname,
					<br>Connection Time: 2:12:45pm 06-16-2019,
					<br>url:<a href="https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/" class="link">https://www.elbuentono.com.mx/hombre-secuestra-a-mujer-en-la-colonia-reserva-territorial/</a>, 
					<br>urlAuthor: David Delgadillo,
					<br>usrCountry: USA,
					<br>usrCity: Austin,
					<br>Closed: monday 12:12:45pm 06-16-2019,
					<br>dlyVisits: 8,
					<br>ystdy: 7,
					<br>wklyVisits: 34,
					<br>lstwk: 38,
					<br>mnthlyVisits: 144,
					<br>lstmnth: 132,
					<br>pushNotifications: No,
					<br>Cookies: yes,
					<br>Monetization:
				</div>
              </div>
              <div class="text-block-3">000000000000000000001</div>
            </div>		
        </div><!---->
      </div><!-- End table Push Notifications-->
	  
	  	 
    </div>
  </div>
  

  
  <% include ../../partials/analytics/footerRunme.ejs %>
  
