<div class="modal fade" id="changeProfilePic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i data-feather="edit-2" class="mr-2"></i> Edit Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#profilePic" role="tab"
                           aria-controls="profilePic" aria-selected="true">Update Profile Picture</a>
                    </li>
  
                </ul>
				
                <div class="tab-content">
                    <div class="tab-pane show active" id="personal" role="tabpanel">
						
                        <form id="uploadForm" enctype   =  "multipart/form-data" method="post" action="/uploadpPhoto" method="post" >
                                <label class="col-form-label">Choose Photo:</label>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <figure class="avatar mr-3 item-rtl" id="changeprofilepicPphoto" data="<%= user.pphoto %>">
                                            <script>
                                                var p = document
                                                  .getElementById("changeprofilepicPphoto")
                                                  .getAttribute("data");
                                                if (p === "") {
                                                  document.getElementById(
                                                    "changeprofilepicPphoto"
                                                  ).innerHTML = `<span class="avatar-title bg-info rounded-circle"><%= user.name.substring(0,1) %></span>`;
                                                } else {
                                                  document.getElementById(
                                                    "changeprofilepicPphoto"
                                                  ).innerHTML = `<img src="/pphoto" class="rounded-circle" alt="image" />`;
                                                }
                                              </script>
                                            
                                        </figure>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" name="avatarEditP" class="custom-file-input" id="customFile" style="font-color: white !important;" onChange="inputPath(this.value)">
										
                                       <label class="custom-file-label" id="cPPIT" for="customFile" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">Choose file</label>
									<script>
										function inputPath(value){
											document.getElementById("cPPIT").innerText = value;
										}
										</script>
                                    </div>
                                </div>
								 </div>
		<div class="modal-footer">
		<br /><br /><br />
		<button type="submit" class="btn btn-primary" style="margin-right: -28px !important;">Save</button>
								</form>
					           
                            </div>
                    </div>
                    

                     
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
			</form>
            </div>
        </div>
    </div>
</div>