body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ecf0f1;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  position: static;
  display: block;
  height: 43px;
  margin: 0px auto 2px;
  padding: 1px 30px 0px;
  clear: none;
  border-radius: 4px;
  background-color: #2e9dff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Lato, sans-serif;
  color: #676770;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-link.w--current {
  font-weight: 400;
}

.navigation-link.login {
  background-color: #3e9ff3;
  color: #ecf0f1;
}

.div-block-26 {
  width: 55%;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
}

.navigation-bar {
  position: fixed;
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
  border-color: #2e9dff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #fff;
  color: #2e9dff;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  position: static;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 146px;
  padding-bottom: 0px;
  border-bottom: 0px none transparent;
  font-size: 24px;
  text-align: center;
}

.fingertipsslogan {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  padding-top: 19px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.fingertipsslogan.login-head-form {
  padding-top: 16px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.underline {
  display: block;
  width: 106px;
  height: 5px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  border-radius: 4px;
  background-color: #0098ff;
}

.underline.login-blue-line {
  display: block;
  margin: 0px auto 25px;
}

.start-form {
  display: block;
  width: 55%;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 9px;
  border: 1px solid #239bff;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.18);
  color: #239bff;
  text-align: center;
}

.lighthouse {
  display: block;
  width: 457px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.more-nav {
  color: #676770;
}

.drop-down-list.w--open {
  border: 1px solid #49647b;
  background-color: #fff;
}

.lists-drop {
  right: 0px;
  margin-right: 0px;
  padding: 16px 33px 16px 34px;
  border-bottom: 1px solid #2e80b6;
  background-color: #bfe0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 55, 64, 0.67)), to(rgba(50, 55, 64, 0.67))), url('../imgs/gif.gif');
  background-image: linear-gradient(180deg, rgba(50, 55, 64, 0.67), rgba(50, 55, 64, 0.67)), url('../imgs/gif.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-indent: 3px;
}

.login-form-footer {
  margin-right: 0px;
  margin-bottom: 21px;
  margin-left: 0px;
  padding-top: 13px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: #8e8e9c;
  font-size: 15px;
  text-align: center;
}

.lighthouse-background {
  position: relative;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 174, 184, 0.93)), to(rgba(84, 174, 184, 0.93))), url('../imgs/stocks.png'), -webkit-gradient(linear, left top, left bottom, from(#26d8ad), to(#26d8ad));
  background-image: linear-gradient(180deg, rgba(84, 174, 184, 0.93), rgba(84, 174, 184, 0.93)), url('../imgs/stocks.png'), linear-gradient(180deg, #26d8ad, #26d8ad);
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, 64px, auto;
}

.lightdiv {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.logo-brand-orgboat {
  padding-top: 9px;
}

.name-lastname-rows {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 33px;
  padding-left: 34px;
}

.img-neurons {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.left-sidebar {
  display: block;
  width: 210px;
  height: auto;
  padding-top: 12px;
  padding-right: 2px;
  padding-left: 3px;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.image-19 {
  display: none;
  margin-bottom: 8px;
  padding-top: 0px;
  padding-right: 3px;
  float: right;
  clear: both;
  text-align: right;
}

.topmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 21px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 61, 71, 0.84)), to(rgba(54, 61, 71, 0.84))), url('../imgs/gif.gif');
  background-image: linear-gradient(180deg, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url('../imgs/gif.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 480px;
}

.topmenu.topfixed {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 9999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 61, 71, 0.84)), to(rgba(54, 61, 71, 0.84))), url('../imgs/gif.gif');
  background-image: linear-gradient(180deg, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url('../imgs/gif.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 480px;
}

.top-menu-left {
  margin-top: -2px;
  padding-top: 0px;
}

.link-block {
  padding: 8px 0px 8px 21px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.link-block.home {
  margin-right: 12px;
  padding-top: 5px;
  padding-right: 14px;
  padding-bottom: 5px;
  border-right: 1px solid #ecf0f1;
}

.text-block-17 {
  padding-top: 2px;
  padding-left: 8px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Roboto, sans-serif;
  color: #ecf0f1;
  font-size: 14.98px;
  text-decoration: none;
}

.icon-font {
  padding-left: 0px;
  float: none;
  font-family: Fontawesome, sans-serif;
  font-size: 14.98px;
  text-align: left;
}

.icon-font.icon-home {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 23px;
}

.icon-font.chat-new {
  color: #e2a62b;
}

.user-settings {
  display: block;
  padding-right: 21px;
}

.dropdown-toggle-5 {
  padding-top: 0px;
  padding-bottom: 8px;
  padding-left: 8px;
  color: #ecf0f1;
}

.dropdown-toggle-5.w--open {
  font-family: Roboto, sans-serif;
}

.image-32 {
  width: 28px;
  height: 28px;
  max-width: none;
  margin-top: -3px;
  padding-top: 0px;
  border-radius: 20px;
}

.setting-dpd {
  margin-right: 0px;
  padding-right: 20px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

.setting-dpd.c-dp {
  border-bottom-right-radius: 8px;
}

.dropdown-list-2.w--open {
  margin-right: 0px;
  padding-right: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 1px 5px 0 #2d3e4f;
}

.icon-3 {
  margin-top: 1.5px;
}

.chat-count {
  font-size: 12px;
}

.rcol-msg {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 8888;
  display: block;
  overflow: scroll;
  width: 33%;
  height: 100%;
  margin-right: 0px;
  padding-top: 1px;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-left: 1px solid #cacad0;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

.image-33 {
  margin-top: -3px;
}

.emoticon-div {
  margin-left: 8px;
  cursor: pointer;
}

.send-textarea {
  width: 100%;
  margin-top: 3px;
  padding-top: 8px;
  border: 1px solid #bec3c7;
  border-radius: 8px;
}

.recording-div {
  display: none;
  padding-top: 8px;
  padding-right: 16px;
}

.msg-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 66px;
}

.select-emojis-div {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 233px;
  margin-top: -231px;
  padding-top: 0px;
  border-bottom: 1px solid #bec3c7;
  background-color: #edeff2;
}

.hide-emoticons {
  display: none;
}

.msg-tools2 {
  display: block;
  float: left;
  opacity: 0;
}

.dp-mainmenu {
  color: #25ccbf;
}

.profile-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 1120px;
  margin: 5px 0px 8px auto;
  padding: 5px 21px 0px;
  float: right;
  border: 1px solid #bec3c7;
  border-radius: 3px;
  background-color: #fff;
}

.bodyprofile {
  padding-top: 0px;
  background-color: #f6f7f8;
}

.cover-div {
  width: 100%;
  height: 233px;
  margin-top: 8px;
  padding-top: 0px;
  float: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 61, 71, 0.84)), to(rgba(54, 61, 71, 0.84))), url('../imgs/gif.gif');
  background-image: linear-gradient(180deg, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url('../imgs/gif.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 480px;
}

.main-intro {
  display: block;
  width: 89%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.dropdown-toggle-6 {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  float: right;
  color: #ecf0f1;
  text-align: left;
}

.image-45 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 144px;
  height: 144px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  float: right;
  border: 8px solid #ecf0f1;
}

.profilepic-div {
  padding-top: 55px;
  padding-right: 5px;
  padding-left: 5px;
}

.main-description {
  display: block;
  width: 100%;
  max-width: 377px;
  margin: 0px auto 8px;
  padding: 8px 21px 15px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #fff;
}

.heading-5 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-bottom: 1px;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: #404047;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.heading-6 {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
}

.heading-7 {
  display: block;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(46, 157, 255, 0.07);
  font-family: Roboto, sans-serif;
  color: #404047;
  font-size: 12px;
  text-align: center;
}

.text-block-29 {
  display: block;
  width: 244px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: #2e80b6;
  text-align: center;
}

.cover-photo-dp.w--open {
  margin-top: 50px;
  margin-left: 5px;
  padding-top: 0px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.profile-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.button-3 {
  margin-left: 0px;
  padding-left: 8px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.19);
  border-left: 0px solid rgba(0, 0, 0, 0.19);
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #49647b;
  font-weight: 400;
  text-align: center;
}

.button-3.selected {
  border-right-color: #bec3c7;
  border-left-width: 0px;
  border-left-color: #bec3c7;
}

.profile-main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
  float: right;
}

.posts-wrappers {
  height: auto;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #fff;
}

.posts-wrappers.right-col {
  display: none;
}

.posts-wrappers.rightt-col {
  display: none;
}

.posts-wrappers.rightt {
  display: none;
}

.right-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42%;
  max-width: 377px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.content-wrapper {
  display: block;
  overflow: auto;
  height: auto;
  padding-top: 12px;
  float: right;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Roboto, sans-serif;
}

.is-needed-leave-it {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  float: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sorry-needed-too {
  display: block;
  max-width: 749px;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.write-post-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  background-color: rgba(65, 111, 143, 0.07);
}

.text-block-31 {
  margin-left: 8px;
  padding: 5px 5px 5px 8px;
  float: right;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Roboto, sans-serif;
  color: #676770;
  text-align: right;
}

.textarea-4 {
  margin-bottom: 5px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 rgba(0, 0, 0, 0.17);
}

.submit-button-3 {
  margin-right: 8px;
  padding: 5px 8px;
  float: right;
  border: 1px solid #3b99d9;
  background-color: #3b99d9;
  color: #ecf0f1;
}

.profile-posts {
  width: 58%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.post-author-pic {
  margin-right: 8px;
  float: left;
}

.sm-thumbnail {
  width: 42px;
  height: 42px;
}

.post-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.post-author {
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #2d3e4f;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}

.post-date-time {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 0px;
  float: right;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #2e80b6;
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
  text-decoration: underline;
}

.edit-post-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  padding-right: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.edit-post-dp {
  padding: 0px 8px 6px 0px;
}

.icon-4 {
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding-top: 0px;
  color: rgba(73, 100, 123, 0.42);
  font-weight: 300;
}

.dp-list {
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.18);
  background-color: #fff;
  color: #2d3e4f;
  font-size: 14px;
}

.dropdown-4 {
  margin-right: 1px;
  padding-right: 0px;
}

.post-text-content {
  padding: 12px 11px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  color: #2d3e4f;
  font-size: 21px;
}

.post-text {
  margin-bottom: 8px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Roboto, sans-serif;
  color: #404047;
  font-size: 16px;
  font-weight: 400;
}

.post-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.like-div {
  padding: 3px 21px 3px 5px;
}

.like-div.sub-like {
  padding-top: 0px;
}

.opt-icon {
  font-family: Fontawesome, sans-serif;
  color: #3b99d9;
  font-size: 15px;
  cursor: pointer;
}

.opt-icon.liked {
  color: #3b99d9;
}

.opt-icon.likes-on {
  color: #2e9dff;
}

.share-div {
  padding: 3px 21px 3px 5px;
}

.comment-div {
  margin-right: 21px;
  padding: 3px 5px;
}

.comment-div.sub-reply {
  margin-right: 0px;
  padding-top: 0px;
}

.post-comments {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: 100%;
  background-color: #fafafa;
}

.text-block-32 {
  display: inline-block;
  margin-right: 0px;
  padding: 8px 34px 8px 8px;
  color: #2e80b6;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.writecomment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
}

.commentinput {
  width: auto;
  margin-bottom: 0px;
  padding-right: 21px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.comments {
  padding-left: 5px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.comment {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
}

.comment.reply-reply {
  margin-left: 34px;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 8px;
  border-left: 2px solid rgba(46, 128, 182, 0.39);
}

.text-field-7 {
  margin-bottom: 3px;
}

.comentador {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #2d3e4f;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.comentario {
  color: #676770;
  line-height: 12px;
  font-weight: 400;
}

.comment-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.reply-reply {
  display: block;
}

.form-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

._w-reply-reply {
  display: none;
}

.text-block-33 {
  margin-bottom: 3px;
  padding-left: 55px;
  color: #3b99d9;
  font-size: 12px;
}

.contact-options {
  display: inline-block;
  margin-bottom: 8px;
}

.link-block-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 21px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(73, 100, 123, 0.34);
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 0 rgba(45, 62, 79, 0.19);
  color: #49647b;
  text-align: center;
  text-decoration: none;
}

.followingbutton {
  display: none;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 21px;
  border-radius: 3px;
  background-color: #20ac99;
  color: #edeff2;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.followbuton {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 21px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(73, 100, 123, 0.34);
  border-radius: 3px;
  background-color: #3b99d9;
  box-shadow: 1px 1px 1px 0 rgba(45, 62, 79, 0.19);
  color: #49647b;
  text-align: center;
  text-decoration: none;
}

.sbjct-inorg-metadata {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(46, 128, 182, 0.17);
  cursor: pointer;
}

.sbjct-inorg-metadata.unseen-notification-group {
  padding-right: 8px;
  border-right: 2px solid #e2a62b;
}

.org-pic-div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tag-category-link {
  text-decoration: none;
}

.heading-8 {
  margin-bottom: 3px;
  padding-right: 2px;
  padding-left: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #2d3e4f;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.sbjct-org-jobposition {
  color: #49647b;
  font-size: 12px;
  font-weight: 400;
}

.heading-9 {
  margin-bottom: 0px;
  color: #2e80b6;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.link-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
  color: #0070ff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.media-document {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: rgba(50, 56, 65, 0);
}

.notification {
  padding-left: 8px;
  color: #fc7d64;
  font-size: 8px;
}

.white-notification {
  margin: 5px 2px 3px;
  padding: 5px 9px 8px 21px;
  border: 0px solid #3b99d9;
  border-radius: 8px;
  color: #676770;
  font-size: 12px;
}

.white-notification.notification-off {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 3px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-color: #bec3c7;
  font-family: Roboto, sans-serif;
  color: #192024;
  font-size: 14px;
}

.ultra-small-profile-icon {
  width: 21px;
  height: 21px;
  margin-left: 6px;
  border-radius: 0px;
}

.column-34 {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.row-14 {
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 3px;
}

.last-mesage {
  color: #868e94;
  font-size: 12px;
}

.column-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 5px;
}

.image-47 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 11px;
  text-align: center;
}

.body-7 {
  padding-top: 42px;
}

.date-link {
  color: #2e80b6;
}

.online {
  font-family: Fontawesome, sans-serif;
  color: #20ac99;
  font-size: 8px;
}

.recent {
  margin-bottom: 4px;
  padding-left: 8px;
  border-bottom: 1px solid rgba(45, 62, 79, 0.05);
  background-color: rgba(236, 240, 241, 0.57);
  font-family: Roboto, sans-serif;
  color: #2d3e4f;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.chat-window {
  position: fixed;
  left: 222px;
  bottom: 0px;
  z-index: 9999;
  display: block;
  width: 288px;
  height: 377px;
  margin-right: 12px;
  margin-left: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.28);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
}

.sm-chat-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.28);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 61, 71, 0.84)), to(rgba(54, 61, 71, 0.84))), url('../imgs/gif.gif');
  background-image: linear-gradient(180deg, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url('../imgs/gif.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 480px;
}

.sm-chat-options {
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Roboto, sans-serif;
  color: #a8b0bb;
  font-size: 21px;
  font-weight: 500;
}

.image-48 {
  padding-right: 8px;
  padding-left: 8px;
}

.sm-chat-send-options {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
}

.snd-opt-icon {
  margin-bottom: 3px;
  padding-right: 8px;
  font-family: Fontawesome, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
}

.sm-chat-send-input {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 0px;
}

.textarea-5 {
  margin-bottom: 3px;
  padding-top: 8px;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-left: 0px solid #000;
}

.form-block-4 {
  margin-bottom: 3px;
}

.success-message {
  padding-bottom: 1px;
}

.sm-chat-msgs {
  overflow: auto;
  height: 250px;
  margin-top: 3px;
  margin-bottom: 1px;
  padding-top: 5px;
}

.sm-msg-rcv {
  margin-right: 21px;
  margin-bottom: 5px;
  margin-left: 3px;
  padding: 5px 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #ecf0f1;
  font-family: Roboto, sans-serif;
  color: #2d3e4f;
  font-size: 14px;
}

.read_more {
  display: block;
  margin-right: auto;
  margin-bottom: 3px;
  margin-left: auto;
  padding-bottom: 0px;
  color: #49647b;
  font-size: 13px;
  text-align: center;
}

.image-49 {
  margin-right: 8px;
  padding-top: 8px;
}

.button-4 {
  display: block;
  width: 34px;
  height: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 4px;
  background-color: #bec3c7;
  font-size: 44px;
  text-align: left;
}

.column-37 {
  padding-right: 3px;
}

.head-add {
  font-size: 18px;
}

.row-15 {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(103, 103, 112, 0.2);
}

.experience-div {
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(103, 103, 112, 0.25);
}

.experience-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ex-title {
  margin-bottom: 0px;
  margin-left: 8px;
  float: none;
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  text-align: left;
}

.icon-experience {
  margin-right: 5px;
  font-family: 'Fontawesome webfont', sans-serif;
}

.text-block-35 {
  padding-right: 8px;
  color: #30ad64;
  font-size: 13px;
  text-align: right;
}

.experience-desc {
  color: #192024;
}

.exp-readmore {
  color: #2e80b6;
  font-size: 12px;
  text-align: center;
}

.heading-11 {
  margin-bottom: 21px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(45, 62, 79, 0.23);
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: rgba(45, 62, 79, 0.71);
  font-size: 14px;
  line-height: 34px;
  font-weight: 500;
  text-align: center;
}

.text-block-36 {
  color: #ecf0f1;
  font-size: 14px;
}

.text-block-37 {
  color: #ecf0f1;
  font-size: 14px;
}

.select-field {
  display: block;
  width: 21%;
  height: 23px;
  margin-right: auto;
  margin-left: 8px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  background-color: #ecf0f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  color: #49647b;
  font-size: 12px;
}

.text-block-38 {
  color: #ecf0f1;
}

.list-item {
  margin-bottom: 12px;
  color: #2d3e4f;
  font-size: 12px;
  font-weight: 400;
}

.image-50 {
  display: block;
  margin-left: 6px;
  padding-right: 0px;
  float: left;
}

.div-block-24 {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-left: 34px;
  float: none;
  clear: none;
  text-align: left;
}

.form-10 {
  padding-top: 55px;
}

.button-5 {
  position: static;
  display: block;
  height: 43px;
  margin: 21px auto 2px;
  padding: 1px 30px 0px;
  clear: none;
  border-radius: 4px;
  background-color: #2e9dff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-5:hover {
  background-color: #2e9dff;
}

.button-5.w--current {
  background-color: #2e80b6;
}

.google-button {
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
 padding-bottom: 8px;
}

.google-button:focus,
.google-button:hover {
   box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
 }

 .google-button:active {
   background-color: #e5e5e5;
   box-shadow: none;
   transition-duration: 10ms;
 }

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}


.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;

}


.sign-up-div-2 {
  display: block;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 99px;
}

.fingertipsslogan-2 {
  position: static;
  display: block;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 800;
  text-align: left;
}

.image-66 {
  position: relative;
  z-index: 888;
  display: block;
  width: 610px;
  max-width: none;
  margin-top: -473px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.fingertipsslogan-2.login-head-form {
  padding-top: 16px;
  text-align: center;
}

.fingertipsslogan-2.login-head-form.reg {
  color: #2f9dff;
}

.fingertipsslogan-2.boost {
  margin-top: 0px;
  margin-bottom: 34px;
  margin-left: 0px;
  padding-top: 55px;
  color: #fff;
  font-size: 34px;
  text-align: center;
  letter-spacing: 3px;
}

.start-form-2 {
  display: block;
  width: 89%;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 9px;
  border: 1px solid #239bff;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.18);
  color: #239bff;
  text-align: center;
}

.start-form-2.name-input-text {
  width: 100%;
  padding-right: 8px;
  padding-left: 5px;
  float: none;
  text-align: center;
}

.login-form-footer-2 {
  margin-right: 0px;
  margin-bottom: 21px;
  margin-left: 0px;
  padding-top: 13px;
  padding-left: 0px;
  color: #2e80b6;
  font-size: 15px;
  text-align: center;
}

.login-form-footer-2.foot2 {
  color: #3b99d9;
}

.login-form-footer-2.footer2 {
  color: #3b99d9;
  font-size: 11px;
  text-decoration: none;
}

.form-register-2 {
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 0px;
  border: 2px solid #2e9dff;
  background-color: #f7f7f7;
}

.bodylogin {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 61, 71, 0.84)), to(rgba(54, 61, 71, 0.84))), url('../imgs/gif.gif');
  background-image: linear-gradient(180deg, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url('../imgs/gif.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 480px;
}

.div-block-25 {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  text-align: center;
}

.footer-text-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.68);
  font-size: 14px;
}

.lighthouse-dark-2 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 34px;
  background-color: transparent;
  opacity: 1;
}

.light-ray-2 {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 21px;
  opacity: 0;
}

.button-6 {
  display: block;
  width: 16%;
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
  border: 0px solid #ecf0f1;
  background-color: #37424f;
  font-family: Roboto, sans-serif;
  color: #edeff2;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.text-block-39 {
  font-size: 14px;
}

.navbar-4 {
  padding-right: 34px;
  padding-left: 21px;
  border-bottom: 1px solid #bec3c7;
  background-color: #fff;
}

.image-52 {
  padding-top: 13px;
}

.dropdown-toggle-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #2d3e4f;
}

.text-block-41 {
  padding-left: 8px;
}

.icon-5 {
  padding-top: 5px;
}

.text-block-42 {
  font-size: 14px;
}

.image-62 {
  position: static;
  display: inline-block;
  width: 55px;
  height: 55px;
  float: right;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-63 {
  width: 55px;
  height: 55px;
}

.list {
  overflow: scroll;
  max-height: 444px;
}

.dp-lnk {
  border-bottom: 1px solid #bec3c7;
  background-color: #fff;
}

.image-64 {
  display: block;
  width: 610px;
  margin-right: auto;
  margin-left: auto;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in-2"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000006, 0.6000000000000006);
  -ms-transform: scale(0.6000000000000006, 0.6000000000000006);
  transform: scale(0.6000000000000006, 0.6000000000000006);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

html.w-mod-js *[data-ix="display"] {
  width: 42px;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, 0.52);
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #3b99d9;
  }
  .navigation-menu {
    background-color: #3b99d9;
  }
  .hero-section.centered {
    padding-top: 102px;
    padding-bottom: 144px;
  }
  .underline {
    margin-left: 1px;
  }
  .lighthouse {
    padding-top: 0px;
  }
  .more-nav {
    color: #fff;
  }
  .left-sidebar {
    display: none;
  }
  .emoticon-div {
    width: 68px;
    height: 64px;
  }
  .send-textarea {
    padding-left: 8px;
  }
  .recording-div {
    display: none;
    padding-top: 8px;
  }
  .msg-options {
    height: 66px;
  }
  .posts-wrappers.right-col {
    display: none;
  }
  .posts-wrappers.rightt-col {
    display: none;
  }
  .posts-wrappers.rightt {
    display: none;
  }
  .content-wrapper {
    margin-right: 5px;
    margin-left: 8px;
  }
  .sorry-needed-too {
    margin-left: 8px;
  }
  .chat-window {
    display: none;
  }
  .sign-up-div-2 {
    width: 89%;
  }
  .fingertipsslogan-2.boost {
    margin-bottom: 5px;
    font-size: 43px;
    line-height: 55px;
  }
  .footer-text-2 {
    color: hsla(0, 0%, 100%, 0.67);
    font-size: 14px;
  }
  .button-6 {
    width: 21%;
  }
}

@media screen and (max-width: 767px) {
  .button {
    margin-top: 20px;
    margin-bottom: 1px;
    padding-top: 0px;
  }
  .hero-section.centered {
    height: auto;
    padding-top: 119px;
    padding-bottom: 47px;
  }
  .start-form {
    width: 89%;
  }
  .logo-brand-orgboat {
    padding-left: 10px;
  }
  .name-lastname-rows {
    padding-right: 21px;
    padding-left: 21px;
  }
  .main-description {
    padding-right: 21px;
  }
  .text-block-29 {
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .posts-wrappers {
    display: block;
  }
  .posts-wrappers.right-col {
    display: none;
  }
  .posts-wrappers.rightt-col {
    display: none;
  }
  .posts-wrappers.rightt {
    display: none;
  }
  .followbuton {
    margin-bottom: 8px;
  }
  .image-50 {
    width: 184px;
    margin-right: auto;
    margin-left: auto;
  }
  .div-block-24 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .button-5 {
    margin-top: 20px;
    margin-bottom: 1px;
    padding-top: 0px;
  }
  .sign-up-div-2 {
    width: 89%;
  }
  .fingertipsslogan-2.boost {
    margin-bottom: 1px;
  }
  .footer-text-2 {
    color: hsla(0, 0%, 100%, 0.73);
    font-size: 11px;
  }
  .button-6 {
    width: 34%;
  }
  .image-62 {
    margin-left: 42px;
    padding-left: 0px;
    float: none;
  }
  .image-63 {
    margin-left: 42px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .hero-section.centered {
    padding-top: 141px;
    padding-bottom: 60px;
  }
  .underline {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .logo-brand-orgboat {
    padding-top: 12px;
    padding-left: 9px;
  }
  .name-lastname-rows {
    padding-right: 8px;
    padding-left: 8px;
  }
  .profile-wrapper {
    padding-right: 1px;
    padding-left: 1px;
  }
  .profile-options {
    margin-top: 42px;
  }
  .posts-wrappers {
    margin-right: 0px;
  }
  .posts-wrappers.right-col {
    display: block;
  }
  .posts-wrappers.rightt-col {
    display: block;
  }
  .posts-wrappers.rightt {
    display: block;
  }
  .right-wrapper {
    width: 98%;
  }
  .profile-posts {
    display: none;
  }
  .post-text-content {
    overflow: scroll;
    max-height: 377px;
  }
  .followingbutton {
    display: none;
  }
  .white-notification.notification-off {
    margin-left: 0px;
    padding-left: 0px;
  }
  .column-36 {
    padding-left: 0px;
  }
  .button-4 {
    float: left;
  }
  .column-37 {
    margin-bottom: 5px;
  }
  .image-50 {
    display: block;
    margin-right: auto;
    margin-left: 34px;
    padding-left: 0px;
  }
  .div-block-24 {
    margin-right: auto;
    margin-left: auto;
  }
  .form-10 {
    padding-top: 21px;
  }
  
  
  
  
  .button-5 {
    margin-bottom: 25px;
  }
  .sign-up-div-2 {
    padding-top: 16px;
  }
  .fingertipsslogan-2.boost {
    padding-right: 5px;
    padding-left: 0px;
    font-size: 28px;
    letter-spacing: 2px;
  }
  .footer-text-2 {
    color: hsla(0, 0%, 100%, 0.81);
    font-size: 11px;
  }
  .button-6 {
    width: 55%;
  }
  .image-62 {
    margin-left: 89px;
  }
  .image-63 {
    margin-left: 89px;
  }
  .list-2 {
    overflow: scroll;
    max-height: 333px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}