body {
  height: 100%;
  padding-left: 329px;
  background-color: #edeff2;
  font-family: Oswald, sans-serif;
  color: rgba(0, 0, 0, .74);
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #313131;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
}

.slider-quotes {
  height: auto;
  margin-top: 21px;
  margin-bottom: 0px;
  padding-right: 27px;
  padding-bottom: 0px;
  padding-left: 36px;
  background-color: transparent;
}

.slider-text {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: Inconsolata, monospace;
  color: #30ad64;
  font-size: 13px;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
}

.points {
  display: none;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.mask {
  height: 89%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.arrows {
  display: none;
}

.author {
  font-size: 13px;
}

.modal-ob-newsletter {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  height: auto;
  padding-top: 55px;
  background-color: rgba(24, 24, 26, .82);
  color: #2d3e4f;
}

.text-block-12 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Inconsolata, monospace;
  color: #3b99d9;
  font-size: 12px;
  text-align: center;
}

.natbody {
  height: auto;
  padding: 0px 21px 21px;
  border: 1px none #000;
  background-color: #1b1b20;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: Inconsolata, monospace;
  color: #f0f0f0;
  text-align: center;
}

.text-block-17 {
  font-family: Inconsolata, monospace;
  color: #bec3c7;
  text-align: center;
}

.logo {
  margin-top: 34px;
  margin-bottom: 34px;
}

.image-32 {
  display: block;
  width: 233px;
  height: 255px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  text-align: left;
}

.form-block-2 {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.field-label-2 {
  margin-bottom: 13px;
  font-family: Inconsolata, monospace;
}

.field-label-3 {
  margin-bottom: 13px;
  font-family: Inconsolata, monospace;
}

.submit-button-3 {
  padding: 8px 13px;
  border: 1px solid #3b99d9;
  background-color: transparent;
  font-family: Inconsolata, monospace;
  color: #3b99d9;
}

.form-4 {
  margin-right: 0px;
  padding: 55px 34px;
  background-color: #1b1d1d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 6%, .97)), to(hsla(0, 0%, 6%, .97))), url('../../imgs/wtm-media.gif');
  background-image: linear-gradient(180deg, hsla(0, 0%, 6%, .97), hsla(0, 0%, 6%, .97)), url('../../imgs/wtm-media.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  opacity: 0.89;
  font-family: Inconsolata, monospace;
  color: #3b99d9;
}

.text-field-4 {
  width: 233px;
  margin-right: auto;
  margin-bottom: 13px;
  margin-left: auto;
  padding: 5px 21px;
  background-color: hsla(0, 0%, 100%, .05);
  text-transform: none;
}

.text-field-5 {
  width: 233px;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
  padding: 5px 21px;
  background-color: hsla(0, 0%, 100%, .05);
}

.image-33 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  padding-top: 21px;
  opacity: 0.89;
}

.command-menu-links {
  color: #30ad64;
}

.list-item {
  margin-bottom: 8px;
  color: #30ad64;
  font-weight: 700;
  text-align: left;
  list-style-type: square;
}

.heading-25 {
  font-size: 34px;
  text-align: left;
}

.heading-26 {
  margin-bottom: 55px;
}

.paragraph-8 {
  font-family: Inconsolata, monospace;
  color: #3b99d9;
  text-align: left;
}

.codecomment {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.code-snippet {
  margin-bottom: 21px;
}

.footer-cheatsheet {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  text-align: left;
}

.heading-27 {
  margin-bottom: 8px;
  padding-left: 5px;
  color: hsla(0, 0%, 94%, .62);
  font-size: 34px;
  font-weight: 400;
}

.column-12 {
  padding-right: 34px;
  padding-left: 21px;
}

.navbar-2 {
  background-color: transparent;
}

.container-7 {
  margin-bottom: 21px;
  padding-top: 5px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: hsla(204.30379746835442, 67.52%, 54.12%, 0.12);
  
}

.nav-link-5 {
  color: #f0f0f0;
}

.image-34 {
  padding-top: 9px;
  padding-left: 8px;
}

.heading-28 {
  margin-top: 55px;
}

.text-block-18 {
  padding-right: 55px;
  color: #30ad64;
  font-size: 13px;
  text-align: right;
}

.text-block-19 {
  margin-top: 34px;
  padding-right: 34px;
  text-align: left;
}

.comments {
  color: #face6a;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000004, 0.6000000000000004);
  -ms-transform: scale(0.6000000000000004, 0.6000000000000004);
  transform: scale(0.6000000000000004, 0.6000000000000004);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  body {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }
  .slider-text {
    font-size: 16px;
  }
  .mask {
    padding-top: 5px;
  }
}

@media (max-width: 479px) {
  .slider-quotes {
    height: auto;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
  }
  .slider-text {
    margin-bottom: 1px;
    padding-bottom: 0px;
    font-size: 13px;
  }
  .mask {
    height: auto;
    padding-bottom: 7px;
  }
}

