<div id="archived" class="sidebar">
  <header>
    <span>Archived</span>
    <ul class="list-inline">
      <li class="list-inline-item d-xl-none d-inline">
        <a href="#" class="btn btn-outline-light text-danger sidebar-close">
          <i data-feather="x"></i>
        </a>
      </li>
    </ul>
  </header>
  <form>
    <input type="text" class="form-control" placeholder="Search archived" />
  </form>
  <div class="sidebar-body">
    <ul
      class="list-group list-group-flush users-list"
      id="chats-archive-list"
    ></ul>
  </div>
</div>
