<div id="friends" class="sidebar">
  <header>
    <span>Contacts</span>
    <ul class="list-inline">
      <li class="list-inline-item" data-toggle="tooltip" title="Add Contact">
        <a
          class="btn btn-outline-light"
          href="#"
          data-toggle="modal"
          data-target="#addFriends"
        >
          <i data-feather="user-plus"></i>
        </a>
      </li>
      <li class="list-inline-item d-xl-none d-inline">
        <a href="#" class="btn btn-outline-light text-danger sidebar-close">
          <i data-feather="x"></i>
        </a>
      </li>
    </ul>
  </header>
  <form>
    <input type="text" class="form-control" placeholder="Search contacts" />
  </form>
  <div class="sidebar-body">
    <ul class="list-group list-group-flush" id="contacts-list"></ul>
  </div>
</div>
