body {
  height: 100%;
  padding-left: 329px;
  background-color: #edeff2;
  font-family: Oswald, sans-serif;
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #313131;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
}

.slider-quotes {
  height: auto;
  margin-top: 21px;
  margin-bottom: 0px;
  padding-right: 27px;
  padding-bottom: 0px;
  padding-left: 36px;
  background-color: transparent;
}

.slider-text {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: Inconsolata, monospace;
  color: #30ad64;
  font-size: 13px;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
}

.points {
  display: none;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.mask {
  height: 89%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.arrows {
  display: none;
}

.author {
  font-size: 13px;
}

.modal-ob-newsletter {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  height: auto;
  padding-top: 55px;
  background-color: rgba(24, 24, 26, 0.82);
  color: #2d3e4f;
}

.text-block-12 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #3b99d9;
  font-size: 12px;
  text-align: center;
}

.natbody {
  height: auto;
  margin-right: 55px;
  margin-left: 55px;
  padding: 0px 21px 21px;
  border: 1px none #000;
  background-color: #1b1b20;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: Inconsolata, monospace;
  color: #f0f0f0;
  text-align: center;
}

.text-block-17 {
  font-family: Roboto, sans-serif;
  color: #bec3c7;
  text-align: center;
}

.logo {
  margin-top: 34px;
  margin-bottom: 34px;
}

.image-32 {
  display: block;
  width: 233px;
  height: 255px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  text-align: left;
}

.form-block-2 {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.field-label-2 {
  margin-bottom: 13px;
  font-family: Inconsolata, monospace;
}

.field-label-3 {
  margin-bottom: 13px;
  font-family: Inconsolata, monospace;
}

.submit-button-3 {
  padding: 8px 13px;
  border: 1px solid #3b99d9;
  background-color: transparent;
  font-family: Inconsolata, monospace;
  color: #3b99d9;
}

.form-4 {
  margin-right: 0px;
  padding: 34px 21px;
  background-color: #1d1d22;
  opacity: 0.89;
  font-family: Inconsolata, monospace;
  color: #3b99d9;
}

.text-field-4 {
  width: 233px;
  margin-right: auto;
  margin-bottom: 13px;
  margin-left: auto;
  padding: 5px 21px;
  background-color: hsla(0, 0%, 100%, 0.05);
  text-transform: none;
}

.text-field-5 {
  width: 233px;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
  padding: 5px 21px;
  background-color: hsla(0, 0%, 100%, 0.05);
}

.image-33 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  padding-top: 21px;
  opacity: 0.89;
}

.command-menu-links {
  color: #30ad64;
}

.list-item {
  margin-bottom: 8px;
  color: #30ad64;
  font-weight: 700;
  text-align: left;
  list-style-type: square;
}

.heading-25 {
  font-size: 34px;
  text-align: left;
}

.heading-26 {
  margin-bottom: 55px;
}

.paragraph-8 {
  font-family: Inconsolata, monospace;
  color: #3b99d9;
  text-align: left;
}

.codecomment {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.code-snippet {
  margin-bottom: 21px;
}

.footer-cheatsheet {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  text-align: left;
}

.heading-27 {
  margin-bottom: 8px;
  padding-left: 5px;
  color: hsla(0, 0%, 94.1%, 0.62);
  font-size: 34px;
  font-weight: 400;
}

.column-12 {
  padding-right: 34px;
  padding-left: 21px;
}

.navbar-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
}

.container-7 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: 21px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 21px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: rgba(59, 153, 217, 0.12);
}

.nav-link-5 {
  color: #f0f0f0;
}

.image-34 {
  padding-top: 8px;
  padding-left: 8px;
}

.heading-28 {
  margin-top: 55px;
  font-size: 21px;
  line-height: 21px;
}

.text-block-18 {
  padding-right: 55px;
  color: #30ad64;
  font-size: 13px;
  text-align: right;
}

.text-block-19 {
  margin-top: 34px;
  padding-right: 34px;
  text-align: left;
}

.comments {
  color: #face6a;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container {
  margin-top: 55px;
}

.grid {
  grid-column-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.5fr 0px 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-29 {
  margin-bottom: 0px;
  font-family: Inconsolata, monospace;
  color: #24ffe1;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
}

.heading-29.private {
  color: #d3b676;
}

.text-block-20 {
  font-family: Roboto, sans-serif;
  color: #43b3ff;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
}

.list {
  padding-left: 8px;
  list-style-type: square;
}

.list-item-2 {
  color: #49647b;
}

.text-block-21 {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  text-align: left;
}

.list-2 {
  padding-left: 8px;
  list-style-type: square;
}

.main-section {
  width: 1150px;
  max-width: 1150px;
  min-width: 999px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
}

.channel-name {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.message {
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(87, 86, 86, 0.21);
  font-family: Roboto, sans-serif;
  color: #e2e2e2;
  font-size: 14px;
  text-align: left;
}

.message.sent {
  padding-left: 89px;
  float: none;
  clear: none;
  color: #25ccbf;
  text-align: left;
}

.text-span {
  padding-right: 3px;
  float: none;
  color: #face6a;
}

.msg-menu {
  position: static;
  margin-left: 0px;
  float: left;
}

.text-block-22 {
  direction: rtl;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: -2px;
}

.dropdown-toggle {
  padding: 0px 9px 8px 8px;
  float: none;
  color: hsla(0, 0%, 94.1%, 0.74);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -1px;
}

.dropdown-list {
  padding-top: 3px;
}

.dropdown-list.w--open {
  margin-top: 1px;
  padding-top: 0px;
  background-color: #aeaeaf;
}

.heading-30 {
  margin-top: 5px;
  margin-bottom: 8px;
  padding-top: 8px;
  float: none;
  color: hsla(0, 0%, 94.1%, 0.89);
  text-align: left;
}

.column-13 {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 42px;
  text-align: left;
}

.text-block-23 {
  padding-top: 0px;
  line-height: 16px;
}

.usrstatus-div {
  width: 42%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  float: right;
}

.text-block-24 {
  position: relative;
  margin: 5px auto;
  padding: 3px 8px;
  float: right;
  clear: both;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(37, 204, 191, 0.33);
  color: hsla(0, 0%, 94.1%, 0.81);
  font-size: 11px;
}

.text-block-24.logout {
  border-color: rgba(190, 89, 98, 0.76);
}

.text-block-25 {
  margin-bottom: 8px;
  font-family: Roboto, sans-serif;
  color: #3b99d9;
  font-size: 12px;
  text-align: right;
}

.button {
  display: block;
  padding: 5px 8px;
  float: none;
  clear: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(228, 185, 98, 0.83);
  background-color: transparent;
  direction: ltr;
  font-size: 14px;
  text-align: center;
}

.columns {
  height: 80vh;
}

.text-span-2 {
  color: rgba(190, 195, 199, 0.6);
  cursor: pointer;
}

.text-span-3 {
  color: rgba(190, 195, 199, 0.6);
  cursor: pointer;
}

.column-14 {
  height: 100%;
  padding-left: 34px;
}

.input-comment-div {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: auto;
  height: 89px;
  margin-left: 42px;
  padding-right: 21px;
}

.conversation-container {
	overflow: scroll;
	height: 55vh;
	  padding-bottom: 21px;
}

#wtmnptsndr {
  margin-left: 0px;
  padding-right: 21px;
  border-style: solid;
  border-width: 1px;
  border-color: #2e2e35;
  background-color: rgba(78, 78, 78, 0.15);
  font-family: Roboto, sans-serif;
  color: #25ccbf;
}

.div-block {
  position: absolute;
  height:590px;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: block;
  border: 1px solid #bec3c7;
  background-color: rgba(29, 29, 34, 0.98);
}

.text-block-26 {
  border: 1px solid #edeff2;
  text-align: right;
}

.text-span-4 {
  cursor: pointer;
}

.channels-div {
  height: 100%;
}

.onlineusers {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  overflow: visible;
  margin-top: 34px;
  margin-right: 15px;
  padding-right: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(190, 195, 199, 0.31);
  background-color: #1b1b20;
}

.text-block-27 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;
  overflow: visible;
  padding-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(190, 195, 199, 0.59);
  background-color: #1b1b20;
  font-size: 13px;
  text-align: right;
  cursor: pointer;
}

.online-usr-div {
  display: block;
  float: none;
}

.dropdown-toggle-2 {
  padding: 0px 8px 8px;
  float: left;
}

.text-block-28 {
  color: #edeff2;
  letter-spacing: -2px;
}

.text-block-29 {
  padding-top: 3px;
  padding-right: 13px;
  padding-left: 21px;
  float: left;
  color: #face6a;
}

.text-block-30 {
  letter-spacing: -2px;
}

.usrs-overflow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  overflow: scroll;
  width: 100%;
  margin-top: 71px;
  padding-top: 0px;
}

.text-span-5 {
  cursor: pointer;
}

.dropdown {
  margin-left: 0px;
}

.dropdown-list-2 {
  margin-left: 2px;
}

.dropdown-list-2.w--open {
  margin-top: 8px;
  margin-left: 36px;
  background-color: hsla(0, 0%, 86.7%, 0.84);
}

.text-field-6 {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(27, 27, 32, 0.75);
  background-color: rgba(168, 162, 162, 0.05);
}

.select-field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(27, 27, 32, 0.75);
  background-color: #232226;
  color: #f0f0f0;
}

.text-span-6 {
  margin-left: 21px;
  float: none;
  clear: none;
  color: #bec3c7;
  font-size: 9px;
  text-align: right;
}

.text-span-7 {
  color: #da655c;
}

@media (max-width: 991px) {
  body {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }
  .slider-text {
    font-size: 16px;
  }
  .mask {
    padding-top: 5px;
  }
}

@media (max-width: 479px) {
  .slider-quotes {
    height: auto;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
  }
  .slider-text {
    margin-bottom: 1px;
    padding-bottom: 0px;
    font-size: 13px;
  }
  .mask {
    height: auto;
    padding-bottom: 7px;
  }
}

