   <!--WRECK THE MEDIA MENU-->
   
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav">
    <div class="container-7 w-container">
		<a href="#" class="w-nav-brand">
			<img src="../../images/brain.png" width="42" srcset="imgs/brain-p-500x517.png 500w, imgs/brain-p-800x826.png 800w, imgs/brain.png 1146w" sizes="42px" alt="" class="image-34">
		</a>
      <nav role="navigation" class="w-nav-menu">
		  <a href="#" class="nav-link-5 w-nav-link">Home</a>
		  <a href="#" class="nav-link-5 w-nav-link">wChannels</a>
		  <a href="#" class="nav-link-5 w-nav-link">TheVault</a>
		  <a href="#" class="nav-link-5 w-nav-link">CheatSheet</a>
	  </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>