	        <div class="channels-div">
				<a href="/" class="button w-button">Open Private Channel</a>
	          <div>
			 <h1 class="heading-29">Public Channels</h1>
             <!--<div class="w-form">
               <form id="formCategories" name="form-Categories" data-name="Data-Categories">
 				  <select id="select-categories" name="select-categories" data-name="categories" class="select-field w-select">
 					  <option value="">Categories...</option>
 					  <option value="First">First Choice</option>
 					  <option value="Second">Second Choice</option>
 					  <option value="Third">Third Choice</option>
 				  </select>
 	<input type="text" class="text-field-6 w-input" maxlength="256" name="name-2" data-name="inputSearchCategories" placeholder="Search" id="search-room">
 			  </form>
             </div><!-->
             <div class="public-channels"> 
	  <ul class="list">
          <li class="list-item-2">
		  <a href="/publicChannel:MainRoom" style="text-decoration: none;" class="text-block-20">
			 Main Room
		  </a>
		  
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Politics" style="text-decoration: none;" class="text-block-20">
			  Politics
		  </a>
		  
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Austin" style="text-decoration: none;" class="text-block-20">
			  Austin
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Punk" style="text-decoration: none;" class="text-block-20">
			  Punk
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Punk" style="text-decoration: none;" class="text-block-20">
			Live Music
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Sex" style="text-decoration: none;" class="text-block-20">
			  Sex
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Medicines" style="text-decoration: none;" class="text-block-20">
			  Medicines
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Humor" style="text-decoration: none;" class="text-block-20">
			  Humor
		 </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:News" style="text-decoration: none;" class="text-block-20">
			  News
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Memes" style="text-decoration: none;" class="text-block-20">
			  Memes
		  </a>
          </li>
          <li class="list-item-2">
          <a href="/publicChannel:cdmx" style="text-decoration: none;" class="text-block-20">
			cdmx
		</a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:NewYork" style="text-decoration: none;" class="text-block-20">
			  NY
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Global" style="text-decoration: none;" class="text-block-20">
			  Global
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Food" style="text-decoration: none;" class="text-block-20">
			  Food
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:SexOffenders" style="text-decoration: none;" class="text-block-20">
			  Sex Offenders
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Music" style="text-decoration: none;" class="text-block-20">
			  Music
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Art" style="text-decoration: none;" class="text-block-20">
			  Art
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:Philosophy" style="text-decoration: none;" class="text-block-20">
			  Philosophy
		  </a>
          </li>
          <li class="list-item-2">
		  <a href="/publicChannel:LA" style="text-decoration: none;" class="text-block-20">
			  LA
		  </a>
          </li>
          
        </ul>	  
			  
			  
			  
			  </div>