<!DOCTYPE html>
<!--  Last Published: Thu May 21 2020 00:00:16 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5ebcb701afcad5b57602ca4f" data-wf-site="59084483abf1f4378f35067c">
<head>
  <meta charset="utf-8">
  <title>index</title>
   <% include ../partials/w_header.ejs %>
</head>
<body class="bodylogin">
  <% include ../partials/w_nav_lgOut.ejs %>
  <div class="hero-section centered">
    <div class="w-container">
      <div class="w-form">
        <form id="email-form-3" name="formLogin" data-name="loginForm" class="form-10" action="/login" method="post">
          <h1 class="fingertipsslogan login-head-form">LOG IN</h1>
          <div class="underline login-blue-line"></div>
		  <style>
		  .text-block-43 {
		    margin-top: -18px;
		    margin-bottom: 15px;
		    color: #cf404d;
		    font-size: 14px;
		  }
		  </style>
		  <div class="text-block-43"><%= opt3 %></div>
		  <input type="text" id="email-2" name="usrname" data-name="Email 2" placeholder="Username or Email" maxlength="256" class="start-form w-input">
		  <input type="password" id="pwd-2" name="pwd" data-name="Pwd 2" placeholder="Password" maxlength="256" class="start-form w-input">
		  <input type="submit" value="Log In" data-wait="Please wait..." class="button-5 w-button">
          <div class="login-form-footer">
			  <a class="login-form-footer" href="/subscribe" style="text-decoration: none;"> Sign Up |</a>
			  <a class="login-form-footer" href="/reset-pwd" style="text-decoration: none;"> Forgot Account |</a>
			  <a class="login-form-footer" href="/terms" style="text-decoration: none;"> Terms </a>

		   </div>
		    <div class="div-block-26">
				<div id="customBtn" class="customGPlusSignIn">
					<a href="/auth/google" class="google-button" style="text-decoration: none;">
				      <span class="google-button__icon">
				      	<svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg"><path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z" id="Shape" fill="#EA4335"/><path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z" id="Shape" fill="#FBBC05"/><path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z" id="Shape" fill="#4285F4"/><path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z" fill="#34A853"/></svg>
				      </span>
				      <span class="google-button__text">Google Sign In</span>
				  </a>
				    </div>
			

		    </div>
        </form>
      </div>
    </div>
  </div>
  <style>
	  .image-66 {
	    position: relative;
	    z-index: 888;
	    display: block;
	    width: 610px;
	    max-width: none;
	    margin-top: -473px;
	    margin-right: auto;
	    margin-left: auto;
	    opacity: 0;
	  }
	  </style>
  
  <div class="div-block-25">
    <div class="footer-text-2"> by Neurons Art &amp; Technology</div>
  </div>
  
  <div class="lighthouse-background">
    <div class="lighthouse-dark-2">
      <h1 class="fingertipsslogan-2 boost">Business at your fingertips.</h1>
	  
	  <img src="w/imgs/tour_measure1.png" alt="" class="image-64">
	  <img src="w/imgs/mesure_2.png" alt="" class="image-66"><a href="/subscribe" class="button-6 w-button" data-ix="lighthouse">START NOW!</a>
  </div>
  </div>
 <% include ../partials/w_footer.ejs %>
</body>
</html>